/* MainTab_Plot.css */


/* Arranging overall tab with a flexbox
  first row= formula bar,
  BOTTOM row = 3 columns
*/


/* 1. Overall Tab */
.MainTab_Plot{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 4px;
}




/* 2. Left side: Table */

.MainTab_Plot .WgTable tbody{
     height: 182px;
}

.MainTab_Plot .WgTable .col-1{
  width: 18px;
}

.MainTab_Plot .WgTable .col-2{
  width: 140px;
    padding: 0px;
    padding-right: 1px;
}

.MainTab_Plot .WgTable input.blue-cell{
    width: 134px;
}

.MainTab_Plot .WgTable th.col-3{
  width: 70px;
}

.MainTab_Plot .WgTable{
  margin-right: 2px;
}

.MainTab_Plot .WgTable td.col-3{
  padding: 1px;
}
  

.MainTab_Plot .WgTable canvas{
  display: block;
}




/* buttons alignment*/
.MainTab_Plot .mainButtons{
  display: flex;
  flex-flow: row nowrap;
}

.MainTab_Plot .mainButtons .action-link{
  flex: 1 auto;
}








/* 3. General styling of 'Boxie elements */

.MainTab_Plot > .WgBoxie,
.MainTab_Plot > .thirdColumnZone > .WgBoxie,
.MainTab_Plot > .thirdColumnZone > .WgTabbedSection
{
  margin: 1px 5px;
  margin-bottom: 0px;
}

.MainTab_Plot .WgBoxie .contents,
.MainTab_Plot .WgTabbedSection .WgBoxie > .outline{
  padding: 2px;
}








/* 4. Third Column box */

.MainTab_Plot .thirdColumnZone{
  /*background: rgba(0,255,255,0.2);*/
  flex: 1 auto;
  display: flex;
  flex-flow: column nowrap;
}


/* 5. Popout */

.MainTab_Plot .BeigeWindow{
    position: absolute;
    right: -250px;
  width: 240px;
  height: 400px;
    top: -111px;
}

