/* MainTab_Plot.css */


/* Arranging overall tab with a flexbox
  first row= formula bar,
  BOTTOM row = 3 columns
*/

.MainTab_Plot{
  display: flex;
  flex-flow: row wrap;
}

/* buttons alignment*/
.MainTab_Plot .tableWithButtonsZone{
  text-align: right;
}





/* 1. Formula Bar */

.MainTab_Plot .formulaBar{
  margin-left: 5px;
    font-size: 11px;
}

.MainTab_Plot .formulaBar input{
  width: 625px;
  font-size: 20px;
}

.MainTab_Plot .formulaBar .upper{
  margin-top: 1px;
    color: rgba(0,0,0,0.5);
  display: flex;
}

.MainTab_Plot .formulaBar .actionsBar{
  flex: 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 2px;
}

.MainTab_Plot .formulaBar .barTitle{
    font-weight: bold;
}

.MainTab_Plot .formulaBar span.text-fxy{
  font-weight: bold;
  font-size: 17px;
  color: rgba(0,0,0,0.7);
}







/* 2. Left side: Table */

.MainTab_Plot .WgTable tbody{
     height: 181px;
}

.MainTab_Plot .WgTable .col-1{
  width: 18px;
}

.MainTab_Plot .WgTable .col-2{
  width: 140px;
    padding: 0px;
    padding-right: 1px;
}

.MainTab_Plot .WgTable input.blue-cell{
    width: 134px;
}

.MainTab_Plot .WgTable th.col-3{
  width: 70px;
}

.MainTab_Plot .WgTable{
  margin-right: 2px;
}






/* 3. General styling of 'Boxie elements */

.MainTab_Plot > .WgBoxie,
.MainTab_Plot > .thirdColumnZone > .WgBoxie,
.MainTab_Plot > .thirdColumnZone > .WgTabbedSection
{
  margin: 1px 5px;
}

.MainTab_Plot .WgBoxie .contents,
.MainTab_Plot .WgTabbedSection .WgBoxie > .outline{
  padding: 2px;
}





/* 4. Histograms box */

.MainTab_Plot .histogram{
  margin-right: 1px;
}

.MainTab_Plot .Hblock{
    display: inline-block;
    margin: 1px;
    background-color: rgba(99, 129, 26, 0.59);
    border: 1px solid rgba(23, 114, 40, 0.81);
}

.MainTab_Plot .Hblock.hist{
  width: 147px;
  height: 78px;
}

.MainTab_Plot .Hblock.conv{
  width: 70px;
  height: 70px;
}






/* 5. Third Column box */

.MainTab_Plot .thirdColumnZone{
  /*background: rgba(0,255,255,0.2);*/
  flex: 1 auto;
  display: flex;
  flex-flow: column nowrap;
}

.MainTab_Plot .thirdColumnZone > span{
  text-align: right;
  font-size: 11px;
  margin-right: 5px;
}









/* 6. Zoom & Rotate box */

.MainTab_Plot .thirdColumnZone .zoomRotate{
  flex: 0 auto;
}

.MainTab_Plot .WgBoxie.zoomRotate .contents{
  width: 0px;
  display: flex;
  flex-flow: row wrap;
}

.MainTab_Plot .WgBoxie.zoomRotate .contents > .sectionLinks1{
  flex: 1 100%;
  margin-top: -3px;
  margin-bottom: 3px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.MainTab_Plot .WgBoxie.zoomRotate .contents > .sectionButtons{
  flex: 0 auto;
  width: 112px;
}

.MainTab_Plot .WgBoxie.zoomRotate .contents > .sectionButtons > div{
  display: inline-block;
    margin: 1px 1px;
  margin-top: 0px;
}

.MainTab_Plot .WgBoxie.zoomRotate .contents > .sectionLinks2{
  flex: 1 auto;
  margin-left: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}


/* 7. Preview Options box */

.MainTab_Plot .thirdColumnZone .previewOptions{
  flex: 1 auto;
}


