/* Plot_Section_PreviewOptions.css */


.MainTab_Plot .thirdColumnZone .PreviewFeatures{
    flex: 1 auto;
}

.MainTab_Plot .PreviewOptions .colouringFunction{
    position: absolute;
    bottom: 42px;
}



.MainTab_Plot .PreviewOptions .overlayAxesScale{
    position: absolute;
    bottom: 25px;
}

.MainTab_Plot .PreviewOptions .plotResolution{
    position: absolute;
    bottom: 4px;
}

.MainTab_Plot .PreviewOptions .timingContoursStrip{
    display: flex;
    flex-flow: row nowrap;
}

.MainTab_Plot .PreviewOptions .timingContoursStrip > div{
    padding: 2px 5px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    flex: 1 auto;
}


.MainTab_Plot .PreviewOptions .value {
    font-weight: bold;
    color: #809db3;
}



.MainTab_Plot .PreviewOptions .Contours{
    border-left: 1px solid rgba(0,0,0,0.4);
}

.MainTab_Plot .PreviewOptions .Contours .action-link{
    margin-bottom: 4px;
}

.MainTab_Plot .PreviewOptions .unboxedPadder{
    padding: 2px;
}


.MainTab_Plot .PreviewOptions .mainHideShow{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    bottom: 3px;
    right: 0px;
}

.MainTab_Plot .PreviewOptions .mainHideShow .action-link{
    margin-bottom: 3px;
}