/* Plot_Section_PointsetPreview.css */

.MainTab_Plot .PointsetPreview{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.MainTab_Plot .PointsetPreview .row1{
  flex: 0 auto;
  font-size: 14px;
  position: relative;
    display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 12px;
}

.MainTab_Plot .PointsetPreview .button{
    font-size: 12px;
  padding: 4px 7px;
}

.MainTab_Plot .PointsetPreview .row2{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2px 5px;
}

.MainTab_Plot .PointsetPreview .row3{
  margin-top: 8px;
}

.MainTab_Plot .PointsetPreview .row3,
.MainTab_Plot .PointsetPreview .row4{
  margin-left: 5px;
}

.MainTab_Plot .PointsetPreview .row4{
  margin-bottom: 4px;
}



