/* Plot_Section_FormulaBar.css */

/* 1. Formula Bar */

.MainTab_Plot .formulaBar{
  margin-left: 5px;
    font-size: 11px;
  width: 100%;
}

.MainTab_Plot .formulaBar input{
  margin-left: 6px;
  width: 565px;
  font-size: 20px;
  position: absolute;
  right: 4px;
  z-index: 1;
}

.MainTab_Plot .formulaBar.pink input{
  width: 595px;
} 

.MainTab_Plot .formulaBar .upper{
  margin-top: 1px;
    color: rgba(0,0,0,0.5);
  display: flex;
  align-items: flex-end;
}

.MainTab_Plot .formulaBar .barTitle{
    font-weight: bold;
}

.MainTab_Plot .formulaBar .action-link{
  flex: 1 auto;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 2px;
}

.MainTab_Plot .formulaBar .upper .evalBrief{
  opacity: 0.6;
  font-size: 10px;
  transition: all 0.2s;
  background: rgba(0,0,0,0.27);
    padding: 1px 5px;
    border-radius: 4px 4px 0px 0px;
  color: black;
  text-shadow: 0px 0px 3px #E4DDC2;
  z-index: 1;
}

.MainTab_Plot .formulaBar:hover .upper .evalBrief{
  opacity: 1;
}

.MainTab_Plot .evalBrief .A{
  font-weight: bold;
  text-shadow: none;
}

.MainTab_Plot .evalBrief .B{
  font-weight: bold;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.6);
  color: #DDD;
}

.MainTab_Plot .evalBrief .C{
  font-weight: bold;
  text-shadow: 0px 0px 3px white;
  color: blue;
}

.MainTab_Plot .evalBrief .D{
  font-weight: bold;
  text-shadow: 0px 0px 3px #ffec9b;
  color: #cc0000;
}

.MainTab_Plot .evalBrief .E{
  font-weight: bold;
  color: #446800;
  text-shadow: 0px 0px 3px #ffec9b;
  font-style: italic;
}

.MainTab_Plot .formulaBar img{
  height: 26px;
  opacity: 0.7;
  position: relative;
  top: 2px;//* hacky, shuffe it down... */
}