/* Plot_Section_Histogram.css */

.MainTab_Plot .Histogram{
    width: 173px;
    margin-right: 1px;
    flex: 0 auto;
}

.MainTab_Plot .Hblock{
    display: inline-block;
    margin: 1px;
    background-color: rgba(99, 129, 26, 0.59);
    border: 1px solid rgba(23, 114, 40, 0.81);
}

.MainTab_Plot .pointsEvald{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: -5px;
}

.MainTab_Plot .pointsEvald .value{
    font-size: 14px;
    color: #809db3;
}

.MainTab_Plot svg.hist{
    padding: 0px 4px;
}

.MainTab_Plot .stats{
    display: flex;
    flex-flow: row wrap;
}

.MainTab_Plot .stats > div{
    width: 81px;
    margin: 1px;
    display: flex;
    justify-content: space-around;
}

.MainTab_Plot .stats > div .value{
    font-weight: bold;
    color: #809db3;
}

.MainTab_Plot .basicAdj{
    padding: 2px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.MainTab_Plot .basicAdj .dropbtn{
    width: 50px;
}

.MainTab_Plot .Hblock.conv{
    width: 160px;
    height: 58px;
}


.MainTab_Plot .actionLinks{
    bottom: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}