
# Files not to track, for Pattern Generation Tool project

TAGS
#icons/
include/
hand-drawing/
pattern-generation-launch.sh
deploy.sh
react-PGT-launch.sh
*.*~
*#*.*#


react-pgt/.gitignore
react-pgt/README.md
react-pgt/deploy-react.sh


# keep all these file types out of the repo...
*.png
*.svg
*.odt
*.ods
*.sh
*.ico


# external libraries - don't need to be tracked

react-pgt/src/Wg/jcolor/
react-pgt/public/css/Wg/jcolor/

sandbox/

	