/* 1. TABLE formats */

/* 1.1 basic column widths */
#plots-table tbody{
     height: 120px;
}

#plots-table .col-1{
    width: 20px;
}

#plots-table .col-2{
    width: 220px;
}

#plots-table .col-3{
    width: 54px;
}

#plots-table .col-4{
    width: 45px;
}

#plots-table th.col-5{
    width: 59px;
}


/* 1.2 other table formats... */

#plots-table .col-2{
    padding: 0px;
    padding-right: 1px;
}

#plots-table input.blue-cell{
    width: 214px;
}


/* 2. main zone-blocks formats */

#tabs-4 .zone{
    position: absolute;
}

.zone#z-1{
    top: 276px;
    left: 5px;
    height: 24px;
    width: 427px
}

.zone#z-2{
    top: 296px;
    left: 5px;
    height: 80px;
    width: 419px
}

.zone#z-3{
    background-color: #EEE;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
    border-radius: 2px;
    z-index: 1;
    top: 125px;
    left: 444px;
    height: 45px;
    width: 244px
}

.zone#z-3 .comment{
    position: absolute;
    font-size: 9px;
    font-family: sans;
    opacity: 0.5;
    padding: 2px;
}

.zone#z-3 #invalid{
    color: red;
    opacity: 0.8;
}

.zone#z-4{
    top: 172px;
    left: 437px;
    height: 98px;
    width: 250px
}

.zone#z-5{
    top: 290px;
    left: 437px;
    height: 86px;
    width: 250px
}


/* misc / temp*/

.lump{
    display: inline-block;
    margin: 1px;
    background-color: rgba(99, 129, 26, 0.59);
    border: 1px solid rgba(23, 114, 40, 0.81);
}




/* 3. Zoom + Rotation block (zone-4) */

#tabs-4 .act-mutex{
    margin-bottom: 2px;
    display: inline-block;
}

#mouse-zoom{
    margin-top: 6px;
    position: relative;
    left: 3px
}

#reset-zoom{
    position: absolute;
    right: 5px;
    top: 2px;
}

#square-axes{
    position: absolute;
    right: 5px;
    top: 18px;
}

#more-brack{
    position: absolute;
    right: 5px;
    top: 34px;
}


#zoom-both-x-y{
    margin-top: 7px;
}

.sqr-btns{
    margin-top: 4px;
}

.sqr-but{
    width: 26px;
    height: 26px;
    vertical-align: text-bottom;
    margin: 1px;
    padding:0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
}

.sqr-but span{
    font-family: sans;
    font-weight: bold;
    font-size: 28px;
    position: relative;
}

.sqr-but.p span{
    top: -5px;
    left:-1px;
}

.sqr-but.m span{
    top: -6px;
    left: 0px;
}

.sqr-btns img{
    position: relative;
    width: 18px;
    top: 1px;
    margin: 3px;
    opacity: 0.3;
}

.sqr-but:hover{
    text-decoration: none;
}

.sqr-but:hover img{
    opacity: 0.6;
}


/* 4. Histogram (zone-2) */
#hist{
    position: absolute;
    top: 7px;
    left: 2px;
    width: 153px;
    height: 76px;
}

#hist-stats{
    position: absolute;
    top: -1px;
    left: 160px;
    width: 150px;
    height: 68px; 
}

#hist-stats div span{
    font-weight: bold;
    font-family: sans;
    color: rgba(0, 0, 0, 0.5);
}

#hist-adjust {
    position: absolute;
    top: 0px;
    left: 245px;
    width: 150px;
    height: 68px; 
    border-left: 1px solid rgba(0,0,0,0.4);
    height: 100%;
}

#hist-adjust .title-c{
    background: #DBD1AB;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 5px;
    padding: 0px 3px;
    color: rgba(0,0,0,0.55);
    position: absolute;
    top: -10px;
    left: 3px;
    display: inline-block;
}

#hist-adjust #ops {
    position: absolute;
    top: 2px;
    left: 4px;
}

#hist-adjust #ops div{
    margin: 3px 0px;
    width: 150px;
}

#hist-adjust #ops div span{
    position: absolute;
    left: 52px;
}

#tabs-4 input.plain-cell{
    position: relative;
    top: -2px;
    height: 12px;
    width: 40px;
}

#hist-adjust #curve{
    position: absolute;
    left: 104px;  
    top: 1px;
    width: 69px;
    height: 70px;
}

#hist-adjust #hist-reset{
    position: absolute;
    left: 104px;  
    top: 73px;
}

#hist-adjust #hist-more{
    position: absolute;
    left: 146px;  
    top: 73px;
}



/* 5. Directly beneath table (zone-1) */
#undr-tabl-btns{
    display: inline-block;
    float: right;
}

.zone#z-1 .action-link{
    padding: 0px 10px;
    position: relative;
    top: -6px;
}







/* 6. Preview Options - zone 5 */

.zone#z-5 .act-mutex{
    margin-top: 3px;
}

.zone#z-5 .act-mutex#cv-contours{
    position: relative;
    top: -3px;
}

.zone#z-5 #contours{
    position: absolute;
    top: 24px;
    left: 165px;
}

.zone#z-5 #contours span{
    position: relative;
    top: 3px;
}

.zone#z-5 #res-lim{
    position: absolute;
    top: 78px;

}

#z-5 #plot{
    position: absolute;
    top: 64px;
    left: 185px;
}

#z-5 #clear{
    position: absolute;
    top: 48px;
    left: 216px;
}

#z-5 #plot-status{
    font-weight: bold;
    color: rgba(0,0,0,0.3);
}

#z-5 #plot-status span{
    font-family: sans;
    color: rgba(0,70,180,0.5);
}

/**/
#backgrounds{
  z-index: -2;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: green;
}

/*imporant to prevent problems with canvas inside div*/
#backgrounds canvas{
  display: block;
}