/* Specific to Colour Pots VIEW table */

#c-pots-view-table th:nth-of-type(1),
#c-pots-view-table td:nth-of-type(1)
{
    width: 20px;
}

#c-pots-view-table th:nth-of-type(2),
#c-pots-view-table td:nth-of-type(2)
{
    width: 270px;
}

#c-pots-view-table td:nth-of-type(2)
{
    text-align: left;
}


#c-pots-view-table tbody{
     height: 205px;
}

#c-pots-view-table td.preview-column{
    padding: 1px;
}

/* Define styles for both types of colour-pot preview areas on the "view" page*/
.preview-container{
    font-size: 0;
    width: 80px;
    border: 1px solid black;
    padding: 0px
}

.preview-cell{
    display: inline-block;
    background: yellow;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    width: 8px;
    height: 8px;
}

#colour-pots-sample-container{
    font-size: 0;
    width: 260px;
    height: 260px;
    top: 129px;
    right: 14px;
    border: 1px solid black;
    padding: 0px;
    background:grey;
    position: absolute;
}

.preview-cell-big{
    display: inline-block;
    background: yellow;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    width: 18px;
    height: 18px;
}

/* BUTTONS - positioning - within "View Colour Pot" */
#color-pot-array-options{
    position: absolute;
    bottom: 10px;
    right: 365px;
}

/* action link positioning... */
#c-pot-view-rerandomise{
    position: absolute;
    width: 80px;
    right: 280px;
}