/* Specific to Colour Pots VIEW table */

#view-cp-table tbody{
     height: 205px;
}

#view-cp-table .col-1{
    width: 20px;
}

#view-cp-table .col-2{
    width: 270px;
}

#view-cp-table td.col-2{
    text-align: left;
}

#view-cp-table .col-2{
    padding: 0px;
}

#view-cp-table input.blue-cell{
    width: 264px;
}

#view-cp-table th.col-3{
    width: 97px;
}

#view-cp-table td.col-3{
    padding: 1px;
}

/* Preview - set position of this specific preview*/
.preview-container#main-cp-view{
    position: absolute;
    width: 260px;
    height: 260px;
    top: 129px;
    right: 14px;
}

/* BUTTONS - positioning - within "View Colour Pot" */
#cp-view-table-buttons{
    position: absolute;
    bottom: 10px;
    right: 365px;
}

/* action link positioning... */
#c-pot-view-rerandomise{
    position: absolute;
    width: 80px;
    right: 280px;
}