/* Styling of the title bar */
#colour-pots-edit input.cpot-title{
    font-size: 24px;
    width: 248px;
    margin: 6px;
    margin-bottom: 0px;
}

/* Styling of the table */
#edit-cp-table tbody{
    height: 350px;
}

#edit-cp-table .col-1{
    width: 21px;
}

#edit-cp-table .col-2{
    width: 58px;/*6 px larger than cell width below*/
}

#edit-cp-table th.col-3{
    width: 157px;
}

/* width of the edit cell*/
#edit-cp-table .blue-cell{
    width: 52px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-family: sans;
}

#edit-cp-table .col-2{
    padding:0px;
}

#edit-cp-table{
    margin-bottom: 1px
}


/* Section of content directly beneath table*/
#cp-edit-beneath-table{
    position: relative;
    margin: 5px;
    margin-top: 1px;
    width: 280px;/* excess here...*/
    height: 48px;
    padding: 0px;
}

#cp-edit-beneath-table .mini-text{
    position: absolute;
}

/* row add/delete - positioning */
#cp-edit-table-buttons{
    position: absolute;
    bottom: 6px;
    left: 133px;
}

/* little add-in to Ad button*/
#cp-edit-table-buttons #add{
    position: relative;
    padding-right: 15px;
}
#cp-edit-table-buttons #add div{
    position: absolute;
    border: inherit;
    width: 7px;
    height: 9px;
}

#cp-edit-table-buttons #add #A{
    border-width: 1px;
    border-radius: 0px 4px 0px 0px;
    right: -1px;
    top: -1px;
    border-color: black;
    display: none;
}

#cp-edit-table-buttons #add #B{
    border-width: 1px 0px 0px 1px;
    border-radius: 0px 0px 4px 0px;
    right: 0px;
    bottom: 0px;
}

/* Actions - positioning - within "Edit Colour Pot" */

#cp-edit-actions #solid-v-range{
    position: absolute;
    top: 30px;
}


/* Preview - set position of this specific preview*/
#colour-pots-edit #preview-area{
    position: absolute;
    bottom: 100px;
    right: 12px;
}

#colour-pots-edit .preview-container{
    background-color: white;
    width: 190px;
}

#colour-pots-edit .preview-container.expanded .preview-cell{
    width: 19px;
    height: 19px;
}


/* Main Cancel+Done buttons - positioning */
#cp-edit-buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#cp-edit-slider{
    height: 30px;
    width: 460px;
    margin: 5px;
    border: 1px solid blue;
    background-color: rgba(255,255,0,0.1)
}

/* This large chunk below is CSS for the ITEM column*/

.mini-title{
    text-align: left;
    font-size: 9px;
    font-family: sans;
}

.cp-item-container{
    position:relative;
    width: 140px;  
}

.cp-item-container.range{
    height: 68px;
}

.cp-item-container.solid{
    height: 25px;
}

.cp-item-container .gradient-cell{
    margin: 0px 1px;
}

.cp-item-container .threeCells{
    position: absolute;
}

.cp-item-container .low{
    top:39px;
}

.cp-item-container .oblong{
    position: absolute;
    height: 15px;
    border-radius: 10px;
    border: 2px solid black;   
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
}

.cp-item-container.range .oblong{
    top: 23px;
    left: 6px;
    width: 69px;
}

.cp-item-container.solid .oblong{
    top: 3px;
    left: 6px;
    width: 69px;
}

.cp-item-container .blank{
    position: absolute;
    right: 4px;
    width: 48px;
    background: white;
}

.cp-item-container.range .blank{
    top: 6px;
    height: 57px;
}

.cp-item-container.solid .blank{
    top: 2px;
    height: 20px;
}

.chequer{
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyIiBoZWlnaHQ9IjIiPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjAiIHk9IjAiIHN0eWxlPSJmaWxsOiNjYWNhY2EiIC8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iMSIgeT0iMSIgc3R5bGU9ImZpbGw6I2NhY2FjYSIgLz48L3N2Zz4=);
    background-size:auto 10px;
    border: 1px solid black;
}

.chequer.tiny{
    background-size:auto 4px;
}



.cp-item-container .chequer{
    position: absolute;
    width:25px;
    height: 96%;
    right: 0px;
}

.cp-item-container .alpha{
    position: absolute;
    background: red;
    width: 34px;
    height: 15px;
    right: 12px;
}

.cp-item-container .A-c1{
    top: 10px;
}

.cp-item-container .A-c2{
    bottom: 10px;
}

.cp-item-container .A-c3{
    top: 3px;
}



/* for RANGE mode - position the CENTRAL vs. EDGES TABS*/

#cp-edit-colour{
    position: absolute;
    top: 140px;
    right: 10px;
    width: 195px;
}

#cp-edit-solid{
    position: absolute;
    top:0px;
    left:0px;
    display:none;/* for initial rendering purposes*/
}

#cp-edit-tabs {
    padding: 0px;
    display:none;/* for initial rendering purposes*/
}

/* range mode - box around content*/
#cp-edit-tabs div.boxie {
    height: 298px;
}



/* this relates to content of the row-edit pane*/

#cp-edit-solid{
    width: 100%;
    text-align: center;
}

#colour-pots-edit .colour-sun{
    border: 2px solid black;  
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
    display:inline-block;
}

#cp-edit-solid .colour-sun.l{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 5px;
}


#cp-edit-solid input.plain-cell{
    font-size: 18px;
    width: 60px;
}

#k2{
    margin-top: 3px;
    position: relative;
    display: inline-block;
    width: 130px;
    height: 37px;
    background: white;

}

#k2 .chequer {
    height: 35px;
    width: 50%;
    float: right;
}

#k2 #strip{
    position: absolute;
    top: 9px;
    left: 5px;
    width: 120px;
    height: 19px;
    background: red;
}

#cp-edit-solid .sld {
    margin: 7px 0px;
    text-align: right;
    padding-right: 20px;
}

/*relating to the colour picker by b-grins*/

#bgrins-container{
    padding: 6px;
    position: absolute;
    left: 215px;
    top: -108px;
    display: none;
}

#bgrins-container .sp-palette-container{
    width: 220px;
    border: none;
}

#bgrins-container .sp-picker-container{
    transition: all 0.4s;
    width: 260px;
}

#bgrins-container.large .sp-picker-container{
    width: 500px;
}

#bgrins-container .sp-input-container{
    width: 180px;
}


#bgrins-container.large .sp-hue{
    width: 35px;
}

#bgrins-container.large .sp-alpha{
    height: 18px;
    top: 22px;
}


#bgrins-container #bgrins-buttons{
    display: inline-block;
    float:right;
    margin-top: 10px;
    bottom: 3px;
}

#bgrins-actions{
    float:left;
    left: 10px;
    display: inline-block;
}

#bgrins-actions #normal-large{
    position: relative;
    left: -7px;
    padding-bottom: 2px;
}



/* Colour Pot - Edit range...*/
#cp-edit-tabs .colour-sun.s{
    width: 80px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    right: 16px;
    top: 8px;
       
}

#tabs-e1 .Ln1 .text{
    width: 100px;
    position: absolute;
    top: 5px;
    left: 22px;
}

#tabs-e1 .Ln1{
    height: 49px;
}
    

#tabs-e1 .Ln{
    border-top: 1px solid rgba(0,0,0,0.5);
    position: relative;
    height: 63px;
    font-size: 12px
}

#tabs-e1 .Ln .name{
    font-weight: bold;
    color: rgba(0,0,0,0.75);
    position: absolute;
    top: 4px;
}


#tabs-e1 .Ln input{
    height: 13px;
    width: 45px;
}

#tabs-e1 .Ln .mid,
#tabs-e1 .Ln .var{
    position: absolute;
    top: 2px;
    left: 45px;
    font-size: 10px;
    color: rgba(0,0,0,0.5);
}

#tabs-e1 .Ln .var{
    left: 115px;
}

#tabs-e1 .Ln .view{
    background-color: white;
    box-shadow: 0px 0px 2px 1px white;
    position: absolute;
    top: 24px;
    left: 3px;
    width: 181px;
    height: 32px;
}

#tabs-e1 .Ln .chequer{
    position: absolute;
    width: 175px;
    height: 14px;
    left: 2px;
    top: 16px;
    border-bottom: none;
}

#tabs-e1 .Ln .B{
    position: absolute;
    width: 26px;
    height: 26px;
    top: 3px;
    left: 14px;
    background-color: rgba(22, 189, 63, 0.65);
    transition: transform 0.1s;
}


#tabs-e1 .Ln .B:hover{
    outline: 1px solid black;
    box-shadow: 0px 0px 2px 1px black;
    z-index: 2;
}

#tabs-e1 .Ln .B.sel{
    box-shadow: 0px 0px 2px 2px black;
    outline: double black;
    z-index: 3;
}


#tabs-e1 .Ln .B.right{
    left: auto;
    right: 14px;
}

#tabs-e1 .Ln .B.center{
    left: 40px;
    height: 16px;
    top: 8px;
    width: 101px;
}








.ui-slider {
    position: relative;
}

.ui-slider .ui-slider-handle{
    position: absolute;
    z-index: 2;
    width: 4px;
    height: 30px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    border: 1px solid blueviolet;
    background: #f6f6f6;
    top: -1px;
}







