/* Defining the style of the toolbox itself */
.cpanel{
    background-color: #DBD1AB;
    box-shadow: 0px 0px 3px 3px #000;
    border-radius: 10px;
}

.cpanel#main{
    position: absolute;
    top: 90px;
    left: 6px;
}

.cpanel-main-size1{
    transition: width 0.7s, height 0.7s;
    width: 700px;
    height: 400px;
}

.cpanel-main-size2{
    transition: width 0.7s, height 0.7s;
    width: 472px;
    height: 700px;
}

.cpanel-main-size3{
    transition: width 0.7s, height 0.7s;
    width: 1000px;
    height: 750px;
}

#cpanel-title-strip{
    border-bottom: 2px solid #404040;
    background: -moz-linear-gradient(left,  #4b9bd8 0%, #a6c8f4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #4b9bd8 0%,#a6c8f4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #4b9bd8 0%,#a6c8f4 100%); /* W3C, IE10+, etc...*/
    border-radius: 10px 10px 0px 0px;
    height: 65px;
}

.cpanel-title{
    position: absolute;
    left: 20px;
    cursor:crosshair;
}

#cpanel-title-1{
    top: 4px;
    color: #7211A1;
    font-size: 34px;
    font-family: sans;
}

#cpanel-title-2{
    top: 41px;
    color: #C03609;
}

/* Defining the style of Badges shown on toolbox header... */
.badge{
    position: absolute;
    top: 7px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #3300A0;
    text-align: center;
    background: #F4C33F;
    color: #3300A0;
    cursor:crosshair;
}

.badge:hover {
    text-decoration: underline;
    background: #FD913E;
}

.badge-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


#cpanel-title-drag{
    right: 7px;
}

#cpanel-title-hide{
    right: 68px;
}


/* TOOLBOX main tabs - (this is the line underneath them) */
#cpanel-main-tabs > ul{
    border-bottom: 1px solid #404040;
}