/* 01 styling for a generic TABLE */

.user-data-table{
    margin: 6px;
    border: 3px inset #DBD1AB;
    background: white;
    border-spacing: 0px;
    text-align: center;
}

.user-data-table th,
.user-data-table td{
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
    padding: 2px;
}

.user-data-table th {
    background: #CCC;
}



/* http://jsfiddle.net/hashem/CrSpu/555/ */
.user-data-table tbody,
.user-data-table thead { display: block; }

.user-data-table tbody{
    overflow-x: hidden;
    overflow-y: auto;

}

.user-data-table th:last-child, 
.user-data-table td:last-child {
    border-right: none;
}

.user-data-table tr:hover{
    background: #E1EFF5;
}

.user-data-table tr.selected{
    background: #7DC8EC;
}

/* styling the tr>td>input element within a table to indicate when editing*/
.table-input-cell{
    border: 2px solid rgba(0,0,0,0);
    font: inherit;
    background: none;
    cursor:default;
}

.selected .table-input-cell:hover{
    cursor:text;
    border: 2px solid rgba(2,143,237,0.9);
    background: rgba(255,255,255,0.4);
}

.table-input-cell.ui-enabled,
.table-input-cell.ui-enabled:hover{
    cursor:text;
    font-family: sans;
    border: 2px solid rgba(2,143,237,1);
    background: rgba(255,255,255,1);
}


/* 02 styling for a generic TAB SYSTEM */

ul{
    margin: 0px;
    padding: 0px;
}

.ui-tabs-tab {
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
    padding: 1px 5px;
    margin: 1px;
    margin-top: 2px;
    margin-bottom: 0px;
    border: 1px solid rgba(0,30,70,0.4);
    border-bottom-width: 0px;
    transition: background 0.2s;
    background: rgba(0,30,70,0.1);
    color: rgba(0,30,70,1);
}

.ui-state-hover {
    transition: background 0.2s;
    background: rgba(0,70,180,0.3);
    text-decoration: underline;
    color: #004370;
}

.ui-state-disabled {
    transition: background 0.2s;
    background: rgba(210,210,210,0.4);
    color: rgba(0,30,70,0.4);
    border-color: rgba(0,30,70,0.3);
}

.ui-state-active{
    background: rgba(0,30,70,0.25);
}

.ui-state-active.ui-state-disabled{
text-decoration: underline;
    text-decoration-style: double;
}

.ui-tabs-tab > a{
    color:inherit;
    text-decoration: none;    
}


/* 03 styling for a generic Buttons */

.button{
    transition: all 0.2s;
    display: inline-block;
    border: 1px solid rgba(0,30,70,0.4);
    border-radius: 4px;
    background: rgba(0,30,70,0.1);
    padding: 3px 14px;
    margin: 0px 5px;
    cursor:pointer;
}

.button.s{
    font-size: 75%;
      padding: 2px 9px;
    margin: 0px 1px;  
}

.button:hover{
    transition: background 0.2s;
    background: rgba(0,70,180,0.3);
    text-decoration: underline;
    color: #004370;
    border-color: #004370;
}



.action-link{
    font-size: 11px;
    text-decoration: underline;
    color: #0C47B3;
    text-align: center;
}

.action-link:hover{
    color: #000FE6;
    text-shadow: 0px 0px 3px rgba(150,255,245,1);
    cursor:pointer;
}


.noselect, .action-link, .button{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          not supported by any browser */
}

/* Styles for colourpot preview zones*/
.preview-container{
    font-size: 0;
    border: 1px solid black;
    padding: 0px
}
.preview-container.tiny{
    width: 80px;
}

.preview-cell{
    display: inline-block;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.preview-cell.small{
    width: 8px;
    height: 8px;
}

.preview-cell.big{
    width: 18px;
    height: 18px;
}