/*no content yet...*/

#grids-table tbody{
     height: 175px;
}

#grids-table .col-1{
  width: 18px;
}

#grids-table th.col-2{
  width: 200px;
}

#grids-table td.col-2{
    text-align: left;
}

#grids-table .col-2{
    padding: 0px;
    padding-right: 1px;
}

#grids-table input.blue-cell{
    width: 175px;
}

#grids-buttons {
    width: 240px;
    text-align: right;
}

#grids-buttons #advanced{
    margin-top: 5px;
}

#tabs-3 div#row-content{
    position: absolute;
    display: none;/* for initial rendering purposes*/
    left: 244px;
    top: 123px;
}

#tabs-3 div.boxie{
    position: relative;
    margin-right: 3px;
    display: inline-block;
    height: 120px;
    width: 212px;
    margin-bottom: 5px;
    text-align: right;
}

#tabs-3 div.boxie#preview-opts{
        margin-top: 15px;
    width: 380px;
        height: 58px;
        text-align: left;
    position: absolute;
    left: 1px;
    top: 185px;
}


#tabs-3 .k-angle,
#tabs-3 .k-spacing,
#tabs-3 .k-shift{
    position: relative;
    display: inline-block;
    margin-right: 90px;
    margin-bottom: 6px;
}

#tabs-3 .k-shift{
    margin-right: 10px;    
}

#tabs-3 .k-pix{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 5px;
    right: 5px;
}

#tabs-3 .boxie .act-mutex{
        display: inline-block;
        margin-left: 10px;
       position: relative;
}

#tabs-3 .boxie#preview-opts .act-mutex#colour-monochrome{
    left: 5px;
}

#tabs-3 .boxie#preview-opts .act-mutex#one-v-all{
    left: 15px;
}

#tabs-3 .act-mutex#link-angles{
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 165px;
    width: 80px;
}

#tabs-3 #grid-preview-visibility{
        position: absolute;
    right: 5px;
    top: 5px;
    width: 80px;
}

#tabs-3 .plain-cell{
    width: 60px;
}

#svg-bg-fullscreen{
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
}