#cpanel-main{
    position: absolute;
    background: #DBD1AB;
    top: 160px;
    left: 80px;
    box-shadow: 0px 0px 3px 3px #000;
    border-radius: 10px;
}

.cpanel-main-size1{
    width: 700px;
    height: 400px;
    -webkit-transition: width 0.7s, height 0.7s; /* Safari */
    transition: width 0.7s, height 0.7s;
}

.cpanel-main-size2{
    width: 500px;
    height: 700px;
    -webkit-transition: width 0.7s, height 0.7s; /* Safari */
    transition: width 0.7s, height 0.7s;
}

#cpanel-title-strip{
    border-bottom: 3px solid #404040;
    background: -moz-linear-gradient(left,  #4b9bd8 0%, #a6c8f4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #4b9bd8 0%,#a6c8f4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #4b9bd8 0%,#a6c8f4 100%); /* W3C, IE10+, etc...*/
    border-radius: 10px 10px 0px 0px;
    height: 65px;
}

.cpanel-title{
    position: absolute;
    left: 20px;
    cursor:crosshair;
}

#cpanel-title-1{
    top: 4px;
    color: #7211A1;
    font-size: 34px;
    font-family: sans;
}

#cpanel-title-2{
    top: 41px;
    color: #C03609;
}

.badge{
    position: absolute;
    top: 7px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #3300A0;
    text-align: center;
    background: #F4C33F;
    color: #3300A0;
    cursor:crosshair;
}

.badge:hover {
    text-decoration: underline;
    background: #FD913E;
}

.badge-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


#cpanel-title-drag{
    right: 7px;
}

#cpanel-title-hide{
    right: 68px;
}

#colour-pots-edit #title-bar{
    background: rgba(255,255,255,0.7);
    margin: 10px 10px;
    padding: 3px 15px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 24px;
    font-family: sans;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}

#colour-pots-edit span.TL-1{
    color: rgba(0,0,0,0.4);
    font-size: 16px;
    font-weight: normal;
}