/*Generic button properties*/
.button{
    transition: all 0.2s;
    display: inline-block;
    border: 2px solid rgba(0,30,70,0.4);
    border-radius: 4px;
    background: rgba(0,30,70,0.1);
    padding: 3px 14px;
    margin: 0px 5px;
    cursor:pointer;
}

.button:hover{
    transition: background 0.2s;
    background: rgba(0,70,180,0.3);
    text-decoration: underline;
    color: #004370;
    border-color: #004370;
}

/*positioning - for the Edit Colour Pot buttons*/
#cp-edit-buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*positioning - for the View Colour Pots list buttons*/
#color-pot-array-options{
    position: absolute;
    bottom: 10px;
    right: 300px;
}
