/* 1. Cancel / Done buttons, bottom right*/

#motifs-edit .main-buttons{
  position: absolute;
  bottom: 5px;
  right: 8px;
}



/* 2. Motif zone */

#motifs-edit #Motif{
  background: white;
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,1);
  position: absolute;
  right: 12px;
  top: 150px;
  width: 400px;
  height: 400px;
}




/* 3. tables zones */

#motifs-edit #params tbody{
    height: 180px;
}

#motifs-edit #params .col-4{
    width: 170px;
}

#motifs-edit #props tbody{
    height: 395px;
}

#motifs-edit #props .col-2{
    width: 380px;
}

#motifs-edit .mid-1{
    position: absolute;
    left: 476px;
}







/* 4. Section of content above the canvas*/

#motifs-edit .motif-title{
    top: 100px;
}

#motifs-edit .mouse-coords{
    opacity: 0.5;
    position: absolute;
    left: 379px;
    top: 33px;
    width: 150px;
}

#motifs-edit .mouse-coords > span{
    font-family: sans;
    color: rgba(0,70,180,1);
}



/* 5. Toolbox (left of canvas)*/

#motifs-edit .tools{
    top: 140px;
    width: 94px;
    height: 392px;
    padding-top: 10px;
    font-size: 0;
}

#motifs-edit .sqr-but{
    vertical-align: bottom;
    margin: 2px;
}

/*jiggle exact placement of shapes within boxes*/
#motifs-edit .sqr-but#shap1 img{
    top: 1px;
    left: 0px;
}
#motifs-edit .sqr-but#shap2 img{
    top: 1px;
    left: 0px;
}
#motifs-edit .sqr-but#shap3 img{
    top: 0px;
    left: -1px;
}
#motifs-edit .sqr-but#shap4 img{
    top: 0px;
    left: 0px;
}
#motifs-edit .sqr-but#shap5 img{
    top: 1px;
    left: 0px;
}










#motifs-edit .tabs{
    top: 560px;
}

.tabs .boxie.s{
    width: 505px;
    height: 120px;
}