/* 01 styling for a generic TABLE */

.user-data-table{
    margin: 6px;
    border: 3px inset #DBD1AB;
    background: white;
    border-spacing: 0px;
    text-align: center;
}

.user-data-table th,
.user-data-table td{
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
    padding: 2px;
}

.user-data-table th {
    background: #CCC;
}



/* http://jsfiddle.net/hashem/CrSpu/555/ */
.user-data-table tbody,
.user-data-table thead { display: block; }

.user-data-table tbody{
    overflow-x: hidden;
    overflow-y: auto;

}

.user-data-table th:last-child, 
.user-data-table td:last-child {
    border-right: none;
}

.user-data-table tr:hover{
    background: #E1EFF5;
}

.user-data-table tr.selected{
    background: #7DC8EC;
}

/* styling the tr>td>input element within a table to indicate when editing*/
.blue-cell{
    border: 2px solid rgba(0,0,0,0);
    font: inherit;
    background: none;
    cursor:default;
}

.selected .blue-cell:hover{
    cursor:text;
    border: 2px solid rgba(2,143,237,0.9);
    background: rgba(255,255,255,0.4);
}

.blue-cell.ui-enabled,
.blue-cell.ui-enabled:hover{
    cursor:text;
    font-family: sans;
    border: 2px solid rgba(2,143,237,1);
    background: rgba(255,255,255,1);
}

/*this styling is for INPUTs not embedded in tables*/

input.plain-cell{
    transition: all 0.2s;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.6);
    font-family: sans;
}

input.plain-cell:hover{
    transition: all 0.2s;
    border-color: rgba(0,70,180,0.5);
    background: rgba(255,255,255,0.4);
    color: rgba(0,0,0,0.7);
}

input.plain-cell:focus{
    border-color: rgba(0,70,180,0.8);;
    background: rgba(255,255,255,0.8);
    color: black;
    box-shadow: 0px 0px 5px 1px rgba(36,166,191,0.42);
}


/* 02 styling for a generic TAB SYSTEM */

ul{
    margin: 0px;
    padding: 0px;
}

.ui-tabs-tab {
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
    padding: 1px 5px;
    margin: 1px;
    margin-top: 2px;
    margin-bottom: 0px;
    border: 1px solid rgba(0,30,70,0.4);
    border-bottom-width: 0px;
    transition: background 0.2s;
    background: rgba(0,30,70,0.1);
    color: rgba(0,30,70,1);
}

.ui-state-hover {
    transition: background 0.2s;
    background: rgba(0,70,180,0.3);
    text-decoration: underline;
    color: #004370;
}

.ui-state-disabled {
    transition: background 0.2s;
    background: rgba(210,210,210,0.4);
    color: rgba(0,30,70,0.4);
    border-color: rgba(0,30,70,0.3);
}

.ui-state-active{
    background: rgba(0,30,70,0.25);
}

.ui-state-active.ui-state-disabled{
text-decoration: underline;
    text-decoration-style: double;
}

.ui-tabs-tab > a{
    color:inherit;
    text-decoration: none;    
}


/* 03 styling for a generic Buttons */

.button{
    transition: all 0.2s;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    padding: 3px 14px;
    margin: 0px 5px;
    cursor:pointer;
}

.button{
    color: black;
    background: rgba(0,30,70,0.1);
    border-color: rgba(0,30,70,0.4);
}

.button:hover{
    transition: background 0.2s;
    background: rgba(0,70,180,0.3);
    text-decoration: underline;
    color: #004370;
    border-color: #004370;
}

.button.ui-disabled{
    color: rgba(0,30,70,0.4);
    background: rgba(210,210,210,0.4);
    border-color: rgba(0,30,70,0.3);
    text-decoration: none;
}

.button.s{
    font-size: 75%;
      padding: 2px 9px;
    margin: 0px 1px;  
}



/*Mutex action link pairs...*/

.act-mutex{
    cursor:pointer;
    font-size: 11px;
}

/* creates the bar between the links*/
.act-mutex>div{
    border-right: 2px solid rgba(0,30,70,0.25);
}

.act-mutex>div:last-child{
    border-right: none;
}

/*greyish colour for disabled link*/
.act-mutex div{
    padding: 0px 4px;
    display: inline-block;
    text-decoration: underline;
    color: rgba(0,30,70,0.5);
}

div.action-link{
        display: inline-block;
    font-size: 11px;
    text-decoration: underline;
    color: #0C47B3;
    text-align: center;
}

.action-link:hover{
    color: #000FE6;
    text-shadow: 0px 0px 3px rgba(150,255,245,1);
    cursor:pointer;
}


.noselect, .action-link, .button, .act-mutex{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          not supported by any browser */
}

/* Styles for colourpot preview zones*/
.preview-container{
    font-size: 0;
    border: 1px solid black;
    padding: 0px
}
.preview-container.tiny{
    width: 80px;
}

.preview-cell{
    display: inline-block;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.preview-cell.small{
    width: 8px;
    height: 8px;
}

.preview-cell.big{
    width: 18px;
    height: 18px;
}

div.boxie{
    transition: all 0.2s;
    position: relative;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    padding: 3px;
    margin-top: 12px;
    padding-top: 12px;
}

div.boxie.s{
        border: 1px solid rgba(0,0,0,0.4);
        margin-top: 9px;
        padding-top: 5px;
}

div.boxie.no-title{
    margin-top: 0px;
    padding-top: 0px;
}

div.boxie div.title{
    position: absolute;
    display: inline-block;
    top: -10px;
    left: 8px;
    padding: 0px 4px;
    background-color: #DBD1AB;
    color: rgba(0,0,0,0.5);
    text-align: left;
}

div.boxie.s div.title{
    font-size: 13px;
    top: -9px;
    left: 6px;
}

/*this is a bit specific, and potentially used only on grids*/
.boxie.ui-disabled{
    opacity: 0.4;
    color: rgba(0,30,70,0.7);
    border-color: rgba(0,30,70,0.3);
}

div.boxie.ui-disabled div.title,
div.boxie.ui-disabled input{
    color: rgba(0,30,70,0.4);
}