/* Properties to customise TABLE size for this tab */
#c-pot-edit-table tbody{
    height: 350px;
}


#c-pot-edit-table{
    margin-left: 6px
}

#c-pot-edit-table th:nth-of-type(1),
#c-pot-edit-table td:nth-of-type(1){
    width: 14px;
}

#c-pot-edit-table th:nth-of-type(2),
#c-pot-edit-table td:nth-of-type(2){
    width: 43px;
}

#c-pot-edit-table th:nth-of-type(3){
    width: 157px;
}

/* width of the edit cell*/
#c-pot-edit-table .table-input-cell{
    width: 37px;
    text-align: center;
}

#c-pot-edit-table .prob-col{
    padding:0px;
}

/* Styling of the title bar */
#colour-pots-edit #title-bar{
    background: rgba(255,255,255,0.7);
    margin: 10px 10px;
    padding: 3px 6px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 24px;
    font-family: sans;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}

#colour-pots-edit span.TL-1{
    color: rgba(0,0,0,0.4);
    font-size: 16px;
    font-weight: normal;
}

#colour-pots-edit #title-bar input.TL-3{
    font-size: 24px;
    width: 260px;
}

/* for RANGE mode - position the CENTRAL vs. EDGES TABS*/

#cp-edit-colour{
    position: absolute;
    top: 177px;
    right: 10px;
    width: 195px;
}

#cp-edit-solid{
    position: absolute;
    top:0px;
    left:0px;
    display:none;/* for initial rendering purposes*/
}


#cp-edit-tabs {
    padding: 0px;
    display:none;/* for initial rendering purposes*/
}

#cp-edit-tabs > ul{
    padding-left: 6px;
    font-size: 12px;
}

#cp-edit-tabs  .ui-tabs-tab {
    border-radius: 7px 7px 0px 0px;
    padding: 1px 3px;
}

/* range mode - box around content*/
#cp-edit-tabs > div {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 3px;
    height: 280px;
}

/* BUTTONS - positioning - within "Edit Colour Pot" */
#cp-edit-buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#cp-edit-table-buttons{
    position: absolute;
    top: 565px;
    left: 117px;
}

/* Actions - positioning - within "Edit Colour Pot" */
#cp-edit-actions {
    position: absolute;
    top: 560px;
    left: 4px;
    width: 120px;
}

.action-link#sum100{
    text-align: left;
}

#cp-edit-actions #solid-v-range{
    display:inline-block;
    position: absolute;
    font-size: 11px;
    margin-top: 2px;
}

/* This large chunk below is CSS for the ITEM column*/

.mini-title{
    text-align: left;
    font-size: 9px;
    font-family: sans;
}

.cp-item-container{
    position:relative;
    width: 140px;  
}

.cp-item-container.range{
    height: 68px;
}

.cp-item-container.solid{
    height: 25px;
}

.cp-item-container .gradient-cell{
    margin: 0px 1px;
}

.cp-item-container .threeCells{
    position: absolute;
}

.cp-item-container .low{
    top:39px;
}

.cp-item-container .oblong{
    position: absolute;
    height: 15px;
    border-radius: 10px;
    border: 2px solid black;   
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
}

.cp-item-container.range .oblong{
    top: 23px;
    left: 6px;
    width: 69px;
}

.cp-item-container.solid .oblong{
    top: 3px;
    left: 6px;
    width: 69px;
}

.cp-item-container .blank{
    position: absolute;
    right: 4px;
    width: 48px;
    background: white;
}

.cp-item-container.range .blank{
    top: 6px;
    height: 57px;
}

.cp-item-container.solid .blank{
    top: 2px;
    height: 20px;
}

.chequer{
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyIiBoZWlnaHQ9IjIiPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjAiIHk9IjAiIHN0eWxlPSJmaWxsOiNjYWNhY2EiIC8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iMSIgeT0iMSIgc3R5bGU9ImZpbGw6I2NhY2FjYSIgLz48L3N2Zz4=);
    background-size:auto 10px;
    border: 1px solid black;
}


.cp-item-container .chequer{
    position: absolute;
    width:25px;
    height: 96%;
    right: 0px;
}

.cp-item-container .alpha{
    position: absolute;
    background: red;
    width: 34px;
    height: 15px;
    right: 12px;
    opacity: 0.5;
}

.cp-item-container .A-c1{
    top: 10px;
}

.cp-item-container .A-c2{
    bottom: 10px;
}

.cp-item-container .A-c3{
    top: 3px;
}

/* Preview - set position of this specific preview*/
.preview-container#main-cp-edit{
    position: absolute;
    width: 190px;
    height: 80px;
    top: 502px;
    right: 11px;
}

#cp-edit-solid{
    width: 100%;
    text-align: center;
}

#cp-edit-solid #colour-sun{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: white;
    border: 2px solid black;  
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
    display:inline-block;
    margin: 10px 0px;
}

#cp-edit-solid input.TL-3{
    font-size: 18px;
    width: 60px;
}

#k2{
    position: relative;
    display: inline-block;
    width: 130px;
    height: 42px;
    background: white;
}

#k2 .chequer {
    height: 40px;
    width: 50%;
    float: right;
}

#k2 #strip{
    position: absolute;
    top: 9px;
    left: 5px;
    width: 120px;
    height: 24px;
    background: red;
}

#k3, #k4, #k5, #k6 {
    margin: 7px 0px;
    text-align: right;
    padding-right: 20px;
}

/*relating to the colour picker by b-grins*/

#bgrins-container{
    padding: 6px;
    position: absolute;
    left: 215px;
    top: -108px;
    display: none;
    width: 273px;
    height: 369px;
}

#bgrins-container .sp-palette-container{
    width: 220px;
    border: none;
}

#bgrins-container .sp-picker-container{
    width: 250px;
}

#bgrins-container .sp-input-container{
    width: 180px;
}

#bgrins-container #bgrins-buttons{
      text-align: right;
}
