/* 1. for the 3 mini thumbnails */

#tabs-8 #info{
  margin: 6px;
}

#thumb-container{
  padding-left: 8px;
}

.drawn-thumb{
  transition: all 0.2s;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,1);
   display: inline-block;
  position: relative;
  margin: 12px;
}

.drawn-thumb > div{
  transition: all 0.2s;
  border-radius: 13px 13px 0px 0px;
  width: 192px;
  position: absolute;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 4px;
  text-align: center;
  font-family: sans;
}

.drawn-thumb img{
  width: 200px;
  display: block;
    border-radius: 15px;
}

.drawn-thumb:hover{
  transform: scale(1.1);
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,1);
}

.drawn-thumb:hover > div{
  opacity: 0;
}





/* 2. for the whole expanded gallery tab */

#listing-bar{
  border-right: 2px solid rgba(0,0,0,0.4);
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 198px;
  height: 658px;
  overflow-x: hidden;
  overflow-y: auto;
}

#gallery-area{
  position: absolute;
  left: 200px;
  bottom: 0px;
  width: 800px;
  height: 658px;
     font-family: sans;
    font-size: 12px;
}

#close-gallery {
  position: absolute;
  top: 3px;
  left: 285px;
  z-index: 1;
}

#gallery-view .prop{
  font-weight: bold;
}

#gallery-view #heading{
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 36px;
  opacity: 0.7;
}

#gallery-view #date{
  position: absolute;
  top: 5px;
  left: 165px;
  font-size: 14px;
}

#gallery-view #dimentions{
  position: absolute;
  top: 22px;
  left: 165px;
  font-size: 10px;
  font-weight: bold;
  opacity: 0.35;
}

#gallery-view #materials{
  position: absolute;
  top: 37px;
  left: 5px;
  width: 268px;
  opacity: 0.5;
  overflow-y: hidden;
  height: 30px;
}

#gallery-view #links{
  position: absolute;
  bottom: 545px;
  left: 5px;
  width: 280px;
}

#gallery-view #description{
  position: absolute;
  top: 7px;
  right: 11px;
  width: 420px;
  height: 95px;
  padding: 3px;
    overflow-x: hidden;
  overflow-y: auto;
    background-color: rgba(238, 238, 238, 0.8);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
    border-radius: 2px;
}

#play-pause{
  position: absolute;
  top: 27px;
  left: 282px;
  width: 75px;
  height: 85px;
}

#play-pause #pp-icon{
  transition: opacity 0.2s;
  position: relative;
  width: 49px;
  height: 39px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

#play-pause #pp-icon:hover{
  opacity: 0.6;
}

#play-pause #pp-runtime{
  transition: opacity 0.2s;
  opacity: 0;
}

#play-pause:hover #pp-runtime{
  opacity: 0.3;
}

#play-pause #pp-icon.play{
  background-image: url("icons/icon-play.png");
  left: 1px;
  background-size: 70%;
}

#play-pause #pp-icon.pause{
  background-image: url("icons/icon-pause.png");
  left: 4px;
  background-size: 60%;
}

#play-pause #pp-slow{
    position: absolute;
  right: 5px;
  top: 23px;
}

#play-pause #pp-fast{
    position: absolute;
  right: 5px;
  top: 4px;
}

#use-pic{
  position: absolute;
  bottom: 0px;
  left: -6px;
}

.drawn-thumb.list{
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,1);
  margin: 6px 12px;
}

.drawn-thumb.list:first-of-type{
  margin-top: 20px;
}

.drawn-thumb.list img{
   width: 160px;
}

.drawn-thumb.list > div{
  width: 152px;
}

#img-section {
    position: absolute;
    top: 115px;
    width: 800px;
  height: 510px;
    overflow-y: hidden;
    overflow-x: hidden;
  border-color: transparent;
  transition: background-color 0.5s, border-color 0.5s;
}

#img-section.zooming{
  width: 794px;
  height: 499px;
  border: 3px solid rgba(0,0,0,0.7);
  background-color: #CCC;
}


#img-section img.pattern-photo{
  display: block;
  position: absolute;
}

#img-section.normal img.pattern-photo{
  border: 1px solid black;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 790px;
  max-height: 508px;
}

#img-section.zooming img.pattern-photo{
  max-width: 2000px;
  max-height: 2000px;
}

/*this invisible div bounds the image dragability*/
#panning-img-container{
  position: absolute;
}

#img-section img#magnify-icon{
    position: absolute;
    right: 17px;
    top: 10px;
  width: 100px;
    z-index: 1;
    opacity: 0;
}


#tabs-8 #bottom-section{
  position: absolute;
  bottom: 0px;
  padding: 2px 8px;
}

.button.pho{
  margin: 1px;
  padding: 1px;
  text-align: center;
  min-width: 18px;
}

.button.pho.fin{
  padding: 1px 8px;
}

.button.pho.selected{
   background-color: rgba(255,255,255,0.4);
   font-weight: bold;
   color: rgba(0,70,180,0.6);
   border-color: rgba(0,70,180,0.6);
}

.single-photo-text{
   font-weight: bold;
   color: rgba(0,70,180,0.5);
}

#magnify-popup{
  position: absolute;
  background: yellow;
  z-index: 2;
}

#magnify-popup > img{
   width: 100px;
}