/* 1. Table listing the grids */

#grids-table tbody{
     height: 197px;
}

#grids-table .col-1{
  width: 18px;
}

#grids-table th.col-2{
  width: 160px;
}

#grids-table td.col-2{
    text-align: left;
}

#grids-table .col-2{
    padding: 0px;
    padding-right: 1px;
}

#grids-table input.blue-cell{
    width: 135px;
}



/* 1.1 - buttons underneath table*/

#grids-buttons {
    width: 195px;
    text-align: right;
}

#grids-buttons #advanced{
    margin-top: 5px;
}



/* 2. Grid controls pane */

#Tab-grid #grid-controls-pane{
    position: absolute;
    left: 202px;
    top: 116px;
}




/* 2.1 Line Sets Controls boxes */

#Tab-grid div.boxie#line-set-1,
#Tab-grid div.boxie#line-set-2{
    position: relative;
    margin-left: 14px;
    margin-top: 18px;
    margin-bottom: 2px;
    display: inline-block;
    height: 95px;
    width: 212px;
    text-align: right;
}

#Tab-grid .angle-indicator-icon{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 18px;
    right: 12px;
}

#Tab-grid .ls-param{
    position: relative;
    display: inline-block;
    top: -2px;
    margin-right: 115px;
    margin-bottom: 5px;
    font-size: 15px;
    width: 122px;
}

#Tab-grid .ls-param input.plain-cell{
    width: 60px;
}

#Tab-grid .act-mutex.px-pc-qty{
    position: absolute;
    top: 23px;
    left: 34px;
}

#Tab-grid .ls-param.shift{
    margin-top: 19px;
}





/* 2.2 Beneath the Line Sets boxes */

#Tab-grid .act-mutex#link-angles{
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 145px;
}

#slider-placeholder{
    background-color: rgba(255,255,0,0.12);
    border: 1px solid red;
    height: 32px;
    position: absolute;
    width: 489px;
    top: 171px;
}





/* 2.3 Preview Options Box */

#Tab-grid div.boxie#preview-opts{
    position: absolute;
    left: 1px;
    top: 218px;
    width: 481px;
    height: 40px;
    text-align: left;
}


/* everything contained inside will be positioned absolutely */
#Tab-grid #preview-opts .act-mutex,
#Tab-grid #preview-opts .button,
#Tab-grid #preview-opts > .action-link{
    position: absolute;
}

#Tab-grid #preview-opts .act-mutex#show-bg{
    top: 14px;
    left: 6px;
}

#Tab-grid #preview-opts .act-mutex#colour-monochrome{
    top: 30px;
    left: 12px;
}

#Tab-grid #preview-opts .act-mutex#one-v-all{
    top: 14px;
    left: 190px;
}

#Tab-grid #preview-opts .act-mutex#show-points{
    top: 30px;
    left: 207px;
}

#Tab-grid #preview-opts .button#show{
    right: 4px;
    bottom: 4px;
}

#Tab-grid #preview-opts .action-link#hide{
    right: 12px;
    top: 3px;
}



/* 3. Underlying SVG used to show gridlines */

#svg-bg-fullscreen{
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
}