/* 1. for the 3 mini thumbnails */

#tabs-8 #info{
  margin: 6px;
}

#thumb-container{
  padding-left: 8px;
}

.drawn-thumb{
  transition: all 0.2s;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,1);
   display: inline-block;
  position: relative;
  margin: 12px;
}

.drawn-thumb > div{
  transition: all 0.2s;
  border-radius: 13px 13px 0px 0px;
  width: 192px;
  position: absolute;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 4px;
  text-align: center;
  font-family: sans;
}

.drawn-thumb img{
  width: 200px;
  display: block;
    border-radius: 15px;
}

.drawn-thumb:hover{
  transform: scale(1.1);
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,1);
}

.drawn-thumb:hover > div{
  opacity: 0;
}





/* 2. for the whole expanded gallery tab */

#listing-bar{
  border-right: 2px solid rgba(0,0,0,0.4);
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 198px;
  height: 658px;
  overflow-x: hidden;
  overflow-y: auto;
}

#gallery-area{
  position: absolute;
  left: 200px;
  bottom: 0px;
  width: 800px;
  height: 658px;
     font-family: sans;
    font-size: 12px;
}

#close-gallery {
  position: absolute;
  top: 3px;
  left: 285px;
  z-index: 1;
}

#gallery-view .prop{
  font-weight: bold;
}

#gallery-view #heading{
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 36px;
  opacity: 0.7;
}

#gallery-view #date{
  position: absolute;
  top: 5px;
  left: 165px;
  font-size: 14px;
}

#gallery-view #dimentions{
  position: absolute;
  top: 22px;
  left: 165px;
  font-size: 10px;
  font-weight: bold;
  opacity: 0.35;
}

#gallery-view #materials{
  position: absolute;
  top: 37px;
  left: 5px;
  width: 268px;
  opacity: 0.5;
}

#gallery-view #links{
  position: absolute;
  top: 95px;
  left: 5px;
  width: 90%%;
}

#gallery-view #description{
  position: absolute;
  top: 7px;
  right: 11px;
  width: 420px;
  height: 95px;
  padding: 3px;
    overflow-x: hidden;
  overflow-y: auto;
    background-color: rgba(238, 238, 238, 0.8);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
    border-radius: 2px;
}





.drawn-thumb.list{
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,1);
  margin: 6px 12px;
}

.drawn-thumb.list:first-of-type{
  margin-top: 20px;
}

.drawn-thumb.list img{
   width: 160px;
}

.drawn-thumb.list > div{
  width: 152px;
}

#img-section {
    text-align: center;
}

#img-white-box {
  position: absolute;
  top: 115px;
  left: 4px;
  width: 790px;
  height: 505px;
  border-radius: 6px;
  background: #EEE;
  border: 1px solid black;
  text-align: center;
  display: table;
}

#img-container{
  display: table-cell;
  vertical-align: middle;
}

#img-white-box img{
  max-width: 790px;
  max-height: 505px;
}

#tabs-8 #bottom-section{
  position: absolute;
  bottom: 0px;
  padding: 2px 8px;
}

