.preview-container{
    font-size: 0;
    width: 82px;
    border: 1px solid black;
    padding: 0px
}

.preview-cell{
    display: inline-block;
    background: yellow;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    width: 8px;
    height: 8px;
}

#colour-pots-sample-container{
    font-size: 0;
    width: 263.5px;
    height: 263px;
    top: 127px;
    right: 14px;
    border: 1px solid black;
    padding: 0px;
    background:grey;
    position: absolute;
}

.preview-cell-big{
    display: inline-block;
    background: yellow;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    width: 18px;
    height: 18px;
}