/*no content yet...*/

#grids-table tbody{
     height: 197px;
}

#grids-table .col-1{
  width: 18px;
}

#grids-table th.col-2{
  width: 160px;
}

#grids-table td.col-2{
    text-align: left;
}

#grids-table .col-2{
    padding: 0px;
    padding-right: 1px;
}

#grids-table input.blue-cell{
    width: 135px;
}

#grids-buttons {
    width: 195px;
    text-align: right;
}

#grids-buttons #advanced{
    margin-top: 5px;
}

#Tab-grid div#row-content{
    position: absolute;
    left: 202px;
    top: 123px;
}

#Tab-grid div.boxie{
    position: relative;
    margin-right: 3px;
    display: inline-block;
    height: 95px;
    width: 232px;
    margin-bottom: 5px;
    text-align: right;
}

#Tab-grid div.boxie#preview-opts{
    width: 482px;
    height: 40px;
    text-align: left;
    position: absolute;
    left: 1px;
    top: 212px;
}

#slider-placeholder{
    background-color: rgba(255,255,0,0.12);
    border: 1px solid red;
    height: 32px;
    position: absolute;
    width: 489px;
    top: 163px;
}

#Tab-grid .act-mutex#link-angles{
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 140px;
}

#Tab-grid .k-angle,
#Tab-grid .k-spacing,
#Tab-grid .k-shift{
    position: relative;
    display: inline-block;
    top: -2px;
    margin-right: 110px;
    margin-bottom: 5px;
    font-size: 15px;
    width: 130px;
}

#Tab-grid .act-mutex.px-pc-qty{
    width: 100px;
    top: 24px;
    left: 27px;
}

#Tab-grid .k-shift{
    margin-top: 19px;
}



#Tab-grid .k-pix{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 18px;
    right: 18px;
}

#Tab-grid .boxie .act-mutex{
    display: inline-block;
    position: absolute;
}

#Tab-grid .boxie#preview-opts .act-mutex#show-bg{
    top: 14px;
    left: 6px;
}

#Tab-grid .boxie#preview-opts .act-mutex#colour-monochrome{
    top: 30px;
    left: 12px;
}

#Tab-grid .boxie#preview-opts .act-mutex#one-v-all{
    top: 14px;
    left: 190px;
}

#Tab-grid .boxie#preview-opts .act-mutex#show-points{
    top: 30px;
    left: 207px;
}

#Tab-grid #grid-preview-visibility{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 80px;
}

#Tab-grid .plain-cell{
    width: 60px;
}

#Tab-grid #extra-content{
    padding: 6px;
    position: absolute;
    left: 710px;
    top: 200px;
    width: 180px;
    height: 60px;
    display: none;
}

#svg-bg-fullscreen{
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
}