/* 1. TABLE formats */


#plots-table tbody{
     height: 120px;
}

#plots-table .col-1{
    width: 20px;
}

#plots-table .col-2{
    width: 220px;
}

#plots-table .col-3{
    width: 70px;
}

#plots-table .col-4{
    width: 45px;
}

#plots-table th.col-5{
    width: 40px;
}

#tabs-4 .zone{
    position: absolute;

}




/* 2. main zone blocks formats */

#tabs-4 #z-1,
#tabs-4 #z-3{
        border: 1px solid red;
}

.zone#z-1{
    top: 276px;
    left: 5px;
    height: 24px;
    width: 425px
}

.zone#z-2{
    top: 302px;
    left: 5px;
    height: 74px;
    width: 419px
}

.zone#z-3{
    top: 120px;
    left: 437px;
    height: 50px;
    width: 256px
}

.zone#z-4{
    top: 172px;
    left: 437px;
    height: 98px;
    width: 250px
}

.zone#z-5{
    top: 290px;
    left: 437px;
    height: 86px;
    width: 250px
}


/* misc / temp*/

.lump{
    display: inline-block;
    margin: 1px;
    background-color: rgba(99, 129, 26, 0.59);
    border: 1px solid rgba(23, 114, 40, 0.81);
}

.L1{
    width: 26px;
    height: 26px;
    vertical-align: text-bottom;
}





/* 3. Zoom + Rotation block (tab-4) */

#tabs-4 .act-mutex{
    margin-bottom: 2px;
    display: inline-block;
}

#mouse-zoom{
    margin-top: 6px;
    position: relative;
    left: 3px
}

#reset-zoom{
    position: absolute;
    right: 5px;
    top: 2px;
}

#square-axes{
    position: absolute;
    right: 5px;
    top: 18px;
}

#more-brack{
    position: absolute;
    right: 5px;
    top: 34px;
}


#zoom-both-x-y{
    margin-top: 7px;
}

.sqr-btns{
    margin-top: 4px;
}




/* 4. Histogram (tab-2) */
#hist{
    position: absolute;
    top: 7px;
    left: 2px;
    width: 153px;
    height: 68px;
}

#hist-stats{
    position: absolute;
    top: -1px;
    left: 160px;
    width: 150px;
    height: 68px; 
}

#hist-stats div span{
    font-weight: bold;
    font-family: sans;
    color: rgba(0, 0, 0, 0.5);
}

#hist-adjust {
    position: absolute;
    top: 0px;
    left: 245px;
    width: 150px;
    height: 68px; 
    border-left: 1px solid rgba(0,0,0,0.4);
    height: 100%;
}

#hist-adjust .title-c{
    background: #DBD1AB;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 5px;
    padding: 0px 3px;
    color: rgba(0,0,0,0.55);
    position: absolute;
    top: -10px;
    left: 3px;
    display: inline-block;
}

#hist-adjust #ops {
    position: absolute;
    top: 2px;
    left: 4px;
}

#hist-adjust #ops div{
    margin: 2px 0px;
    width: 150px;
}

#hist-adjust #ops div span{
    position: absolute;
    left: 52px;
}

#hist-adjust #ops input.plain-cell{
    position: relative;
    top: -2px;
    height: 11px;
    width: 40px;
}

#hist-adjust #curve{
    position: absolute;
    left: 104px;  
    top: 1px;
    width: 68px;
    height: 65px;
}

#hist-adjust #hist-more{
    position: absolute;
    left: 122px;  
    top: 68px;
}


/**/
#backgrounds{
  z-index: -2;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: green;
}

/*imporant to prevent problems with canvas inside div*/
#backgrounds canvas{
  display: block;
}