/* 01 GENERIC TO ALL TABS SYSTEMS*/

/*#cpanel-main-tabs > ul - too specific*/
ul{
    margin: 0px;
    padding: 0px;
}

/*#cpanel-main-tabs > ul > .ui-tabs-tab too specific*/
.ui-tabs-tab {
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
    padding: 1px 5px;
    margin: 1px;
    margin-top: 2px;
    margin-bottom: 0px;
    border: 1px solid rgba(0,30,70,0.4);
    border-bottom-width: 0px;
    transition: background 0.2s;
    background: rgba(0,30,70,0.1);
    color: rgba(0,30,70,1);
}

.ui-state-hover {
    transition: background 0.2s;
    background: rgba(0,70,180,0.3);
    text-decoration: underline;
    color: #004370;
}

.ui-state-disabled {
    transition: background 0.2s;
    background: rgba(210,210,210,0.4);
    color: rgba(0,30,70,0.4);
    border-color: rgba(0,30,70,0.3);
}

.ui-state-active{
    background: rgba(0,30,70,0.25);
}

.ui-state-active.ui-state-disabled{
text-decoration: underline;
    text-decoration-style: double;
}

.ui-tabs-tab > a{
    color:inherit;
    text-decoration: none;    
}

/* 02 SPECIFIC TO MAIN TABS*/
#cpanel-main-tabs > ul{
    border-bottom: 1px solid #404040;
}

/* 03 SPECIFIC TO CENTRAL vs. EDGES TABS*/

#cp-edit-tabs {
    position: absolute;
    top: 177px;
    right: 12px;
    width: 200px;
    padding: 0px;
    margin: 0px;
}

#cp-edit-tabs > ul{
    padding-left: 10px;

}

/*box around content*/
#cp-edit-tabs > div {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 3px;
}