/* Background_Drawing_ControlsBox.css */

.Background_Drawing_ControlsBox{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 7px;
    color: lightgray;
    opacity: 0.9;
    transition: opacity 0.2s;
    padding: 10px;
    display: flex;
    width: 300px;
    flex-flow: row wrap;
}

.Background_Drawing_ControlsBox:hover{
    opacity: 0.9;
}

.Background_Drawing_ControlsBox button{
    border: 1px solid gray;
    padding: 2px 10px;
    background-color: transparent;
    border-radius: 4px;
    color: lightgray;
    transition: all 0.2s;
}

.Background_Drawing_ControlsBox button:hover{
    background: rgba(111, 209, 251, 0.4);
    color: white;
    border-color: #BBB;
}

.Background_Drawing_ControlsBox img{
    opacity: 0.7;
    transition: all 0.2s;
}

.Background_Drawing_ControlsBox button:hover img{
    opacity: 1;
}

.Background_Drawing_ControlsBox button img{
    height: 50px;
}

.Background_Drawing_ControlsBox .B{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 1;
    padding: 1px 5px;
}

.Background_Drawing_ControlsBox .B .name{
    font-size: 28px;
}

.Background_Drawing_ControlsBox .B .more{
    font-size: 13px;
    width: 50px;
    text-align: center;
    text-decoration: underline;
    color: #AAA;
    cursor: pointer;
}



.Background_Drawing_ControlsBox .B .magnify img{
    height: 32px;
}

.Background_Drawing_ControlsBox .B .magnify:hover img{
    opacity: 1;
}

.Background_Drawing_ControlsBox .B .more:hover{
    color: #a8e5ff;
}

.Background_Drawing_ControlsBox .B .buttons{
    flex: 1 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.Background_Drawing_ControlsBox .B .buttons button.disabled{
    background: grey;
}



.Background_Drawing_ControlsBox .A button{
    padding: 10px;
    height: 72px;
}


.Background_Drawing_ControlsBox .D{
    margin-top: 6px;
    flex: 1 100%;
}