/* Background_Drawing.css */

.Background_Drawing{
    position: absolute;
    height: inherit;
    width: inherit;
}

.Background_Drawing .contain-ControlsBox{
    position: absolute;
    height: inherit;
    overflow: hidden;
}

.Background_Drawing .mainImgContainer{
    height: inherit;
    width: inherit;
    overflow: hidden;
}


.Background_Drawing .dragImgContainer img{
    position: absolute;
    z-index: 1;
}

img.WgFade400-leave.WgFade400-leave-active {
    opacity: 1;
    z-index: 0;
}