/* Background_Drawing_ControlsBox.css */

.Background_Drawing_ControlsBox{
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 7px;
    color: #BBB;
    opacity: 1;
    transition: opacity 0.2s;
    padding: 10px;
    display: flex;
    width: 300px;
    flex-flow: row wrap;
}

.Background_Drawing_ControlsBox:hover{
    opacity: 0.9;
}

.Background_Drawing_ControlsBox button{
    border: 1px solid gray;
    padding: 2px 10px;
    background-color: transparent;
    border-radius: 4px;
    color: lightgray;
    transition: all 0.2s;
}

.Background_Drawing_ControlsBox button.disabled{
    background: #444;
    color: #777;
    pointer-events: none;
}

.Background_Drawing_ControlsBox button:hover{
    background: rgba(111, 209, 251, 0.4);
    color: white;
    border-color: #BBB;
}

.Background_Drawing_ControlsBox button.sel{
    background-color: lightsteelblue;
    color: black;
    border-color: white;
    font-weight: bold;
}

.Background_Drawing_ControlsBox img{
    opacity: 0.7;
    transition: all 0.2s;
}

.Background_Drawing_ControlsBox button:hover img{
    opacity: 1;
}

.Background_Drawing_ControlsBox button img{
    height: 50px;
}

.Background_Drawing_ControlsBox .A button{
    padding: 10px;
    height: 72px;
}




.Background_Drawing_ControlsBox .B{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 1;
    padding: 1px 5px;
}

.Background_Drawing_ControlsBox .B .name{
    font-size: 28px;
}

.Background_Drawing_ControlsBox .B .actLink{
    font-size: 13px;
    text-decoration: underline;
    color: #AAA;
    cursor: pointer;
}

.Background_Drawing_ControlsBox .B .actLink:hover{
    color: #a8e5ff;
}

.Background_Drawing_ControlsBox .B .more{
    width: 50px;
    text-align: center;
}

.Background_Drawing_ControlsBox .B .more.disabled{
    opacity: 0;
    pointer-events: none;
    
}

.Background_Drawing_ControlsBox .B .magnify img{
    margin-left: 5px;
    height: 32px;
}

.Background_Drawing_ControlsBox .B .magnify:hover img{
    opacity: 1;
}

.Background_Drawing_ControlsBox .B .buttons{
    flex: 1 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.Background_Drawing_ControlsBox .B .extra{
    flex: 1 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.Background_Drawing_ControlsBox .B .extra .C1{
    margin-left: 12px;
}

.Background_Drawing_ControlsBox .B .extra .date{
    font-size: 14px;
}

.Background_Drawing_ControlsBox .B .extra .dims{
    color: #888;
    font-weight: bold;
        font-size: 11px;
}

.Background_Drawing_ControlsBox .B .extra .C2{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.Background_Drawing_ControlsBox .D{
    margin-top: 6px;
    flex: 1 100%;
    display: flex;
    justify-content: center;
}

.Background_Drawing_ControlsBox .D .contain-buttons{
    width: 286px;
}

.Background_Drawing_ControlsBox .D button{
    margin: 2px;
    width: 22px;
    padding: 2px 0;
    padding-right: 1px;
}