/* Background_Drawing_Chooser.css */

.Background_Drawing_Chooser{
    position: absolute;
    height: inherit;
    width: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Background_Drawing_Chooser.H{
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.Background_Drawing_Chooser .item{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.Background_Drawing_Chooser.H .item{
    display: inline-flex;
    flex-flow: column;
    height: 100%; /* unlinke inherit, this allows for scroll-bar height*/
    padding: 0;
}

.Background_Drawing_Chooser .itemInner{
    display: flex;
}

.Background_Drawing_Chooser.V .itemInner{
    flex-flow: row nowrap;
    max-width: 500px;
    width: 60%;
}

.Background_Drawing_Chooser.H .itemInner{
    flex-flow: column nowrap;
    max-height: 400px;
    height: 60%;
    margin: 5%;
}


.Background_Drawing_Chooser .item:hover{
    background-color: rgb(225, 239, 245);
}

.Background_Drawing_Chooser img{
    border: 1px solid black;
    border-radius: 6px;
    transition: transform 0.1s;
}

.Background_Drawing_Chooser.V img{
    width: 60%;    
}

.Background_Drawing_Chooser.H img{
    align-self: center;
    max-height: 70%;
}

.Background_Drawing_Chooser .item:hover img{
    transform: scale(1.03);
}

.Background_Drawing_Chooser .text{
    flex: 1;
    padding-left: 2%;
    display: flex;
    flex-flow: column nowrap;
}

.Background_Drawing_Chooser .text{
    font-size: 24px;
}


.Background_Drawing_Chooser.L .text{
    font-size: 31px;
}

.Background_Drawing_Chooser .text > div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-alIgn: center;
}

.Background_Drawing_Chooser .name{
    flex: 1;
}

.Background_Drawing_Chooser .date{
    flex: 0;
    font-size: 55%;
    color: #AAA;
    font-weight: bold;
}

.Background_Drawing_Chooser .aspect{
        flex: 0.5;
    color: #777;
    font-size: 38%;
}

.Background_Drawing_Chooser .empty{
    flex: 1;
}

.Background_Drawing_Chooser .aspect span{
    color: black;
}