/* Background.css */


.Background div.bg-grey{
  background: lightgray;
  position: absolute;
}

.Background div.bg-grey > div{
  display: inline-block;
  margin: 20px;
  box-shadow: 0px 0px 4px 2px black;
  background: white;
  position: relative;
}


/* somehow, this fixes display issues
   with CSS margins and page overflow
*/

.Background div.bg-grey > div:last-child{
  margin-bottom: 0px;
}

.Background div.bg-grey.vertical > div{
  margin-bottom: 0px;
}

.Background div.bg-grey.quad > div:nth-child(3){
  margin-bottom: 0px;
}