/* Background_Drawing_ControlsBox.css */


/* 1. main outer box */

.Background_Drawing_ControlsBox{
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 7px;
    color: #BBB;
    opacity: 1;
    transition: opacity 0.2s;
    padding: 10px;
    display: flex;
    width: 300px;
    flex-flow: row wrap;
}

.Background_Drawing_ControlsBox:hover{
    opacity: 0.9;
}




/* 2. general purpose components */

.Background_Drawing_ControlsBox button{
    border: 1px solid gray;
    padding: 2px 10px;
    background-color: transparent;
    border-radius: 4px;
    color: lightgray;
    transition: all 0.2s;
}

.Background_Drawing_ControlsBox button.disabled{
    background: #555;
    opacity: 0.4;
    pointer-events: none;
}

.Background_Drawing_ControlsBox button:hover{
    background: rgba(111, 209, 251, 0.4);
    color: white;
    border-color: #BBB;
}

.Background_Drawing_ControlsBox button.sel{
    background-color: lightsteelblue;
    color: black;
    border-color: white;
    font-weight: bold;
}

.Background_Drawing_ControlsBox img{
    opacity: 0.7;
    transition: all 0.2s;
}

.Background_Drawing_ControlsBox button:hover img{
    opacity: 1;
}

.Background_Drawing_ControlsBox button img{
    height: 50px;
}



.Background_Drawing_ControlsBox .actLink{
    font-size: 13px;
    text-decoration: underline;
    color: #AAA;
    cursor: pointer;
}

.Background_Drawing_ControlsBox .actLink:hover{
    color: #a8e5ff;
}


.Background_Drawing_ControlsBox .WgSlider .rc-slider-rail {
    border: 1px solid #333;
    background-color: #111;
}

.Background_Drawing_ControlsBox .WgSlider .rc-slider-handle{
    border: 1px solid #777;
    background-color: #333;
}


.Background_Drawing_ControlsBox .WgSlider .rc-slider-handle:hover{
    background: rgba(111, 209, 251, 0.55);
    border-color: #DDD;
}








/* 3. class = "A" */
.Background_Drawing_ControlsBox .A button{
    padding: 10px;
    height: 72px;
}

.Background_Drawing_ControlsBox .A.play button{
    width: 72px;
}



/* 4. class = "B" (minimised) */

.Background_Drawing_ControlsBox .B{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 1;
    padding: 1px 5px;
}

.Background_Drawing_ControlsBox .B .name{
    font-size: 28px;
}

.Background_Drawing_ControlsBox .B .more{
    margin-top: 7px;
}

.Background_Drawing_ControlsBox .B .buttons{
    flex: 1 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}




/* 5. class = "B" (expanded) */

.Background_Drawing_ControlsBox .B .C1{
    margin-top: 2px;
    margin-left: 4px;
}

.Background_Drawing_ControlsBox .B .C1 .date{
    font-size: 13px;
}

.Background_Drawing_ControlsBox .B .C1 .dims{
    color: #888;
    font-weight: bold;
    font-size: 11px;
}

.Background_Drawing_ControlsBox .B .speed{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    width: 37px;
}

.Background_Drawing_ControlsBox .B .speed span{
      color: white;
 font-weight: bold;   
}

.Background_Drawing_ControlsBox .B .speed .actLink{
    display: inline-block;
}

.Background_Drawing_ControlsBox .B .description{
    margin-top: 3px;
    margin-left: 10px;
    text-align: center;
    width: 70px;
}






.Background_Drawing_ControlsBox .B .magnify img{
    height: 32px;
}

.Background_Drawing_ControlsBox .B .magnify:hover img{
    opacity: 1;
}











.Background_Drawing_ControlsBox .D{
    margin-top: 6px;
    flex: 1 100%;
    display: flex;
    justify-content: center;
}

.Background_Drawing_ControlsBox .D .contain-buttons{
    width: 286px;
}

.Background_Drawing_ControlsBox .D button{
    margin: 2px;
    width: 22px;
    padding: 2px 0;
    padding-right: 1px;
}

.Background_Drawing_ControlsBox .D .description{
    margin: 4px 12px;
    font-size: 12px;
    height: 100px;
    overflow-y: scroll;
    border: 3px inset #333;
    background: #333;
    color: #DDD;
}