/* Cfun_Section_UpperControls.css */


.Cfun_Section_UpperControls{
    text-align: right;
    margin-top: 2px;
    min-height: 50px;
}

.Cfun_Section_UpperControls .WgDropDown{
    margin-right: 10px;
}

.Cfun_Section_UpperControls .WgDropDown .dropbtn{
    width: 117px;
}

.Cfun_Section_UpperControls .action-link{
    position: absolute;
    top: 30px;
}


.Cfun_Section_UpperControls .button{
   margin-top: 6px;
   margin-right: 10px;
}
