/* Cfun_Section_UpperControls.css */


.Cfun_Section_UpperControls{
    text-align: right;
    margin: 6px;
    margin-top: 2px;
}

.Cfun_Section_UpperControls .WgDropDown{
    margin-left: 10px;
}

.Cfun_Section_UpperControls .WgDropDown .dropbtn{
    width: 100px;
}


.Cfun_Section_UpperControls .button{
   margin-top: 6px;
}
