/* Cfun_Section_UpperControls.css */


.MainTab_Cfun .column2 .upperControls{
    text-align: right;
    margin: 6px;
    margin-top: 2px;
}

.MainTab_Cfun .column2 .WgDropDown{
    margin-left: 10px;
}

.MainTab_Cfun .column2 .WgDropDown .dropbtn{
    width: 100px;
}


.MainTab_Cfun .column2 .upperControls .button{
   margin-top: 6px;
}
