/* Cfun_Section_InteractiveStrip.css */


.Cfun_Section_InteractiveStrip{
    flex: 1 auto;
    position: relative;
    margin-top: 30px;
}

.Cfun_Section_InteractiveStrip .chequer{
    position: absolute;
    left: 4px;

}

.Cfun_Section_InteractiveStrip .strip {
    height: 50px;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,1);
}

.Cfun_Section_InteractiveStrip .stopsContainer{
    position: absolute;
    top: 45px;
    left: -2px;
}

.Cfun_Section_InteractiveStrip .stopsContainer > div{
    position: absolute;
    height: 48px;
    width: 15px;
}

.Cfun_Section_InteractiveStrip .stopsContainer img{
        transition: all 0.1s;
    position: absolute;
    height: 35px;
    opacity: 0.5;
}


.Cfun_Section_InteractiveStrip .stopsContainer > div.selected img{
    opacity: 1;
}

.Cfun_Section_InteractiveStrip .stopsContainer .spot{
    transition: transform 0.1s;
    position: absolute;
    top: 30px;
    left: -2px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.6);
}

.Cfun_Section_InteractiveStrip .stopsContainer > div:hover .spot{
    transform: scale(1.4);
}

.Cfun_Section_InteractiveStrip .stopsContainer > div.selected .spot{
    transform: scale(1.4);
    box-shadow: 0px 0px 2px 1.5px rgba(0,0,0,1);
}