/* MainTab_Cfun.css */




/* 1. Table listing */

.MainTab_Cfun .WgTable tbody{
    height: 225px;
}

.MainTab_Cfun .WgTable .col-1{
    width: 18px;
}

.MainTab_Cfun .WgTable th.col-2{
    width: 90px;
}

.MainTab_Cfun .WgTable .col-2{
    padding: 0px;
    padding-right: 1px;
}

.MainTab_Cfun .WgTable input.blue-cell{
    width: 84px;
}

.MainTab_Cfun .WgTable th.col-3{
    width: 90px;
}

.MainTab_Cfun .WgTable td.col-3{
    padding: 1px;
}

.MainTab_Cfun .chequer{
    background-color: white;
}

.MainTab_Cfun .prev {
    width: 75px;
    height: 19px;
}








/* 2. High-level arrangement */

.MainTab_Cfun {
    flex: 1 auto;
    display: flex;
}

.MainTab_Cfun .column1{
    text-align: right;
}

.MainTab_Cfun .column2 {
    flex: 1 auto;
    display: flex;
    flex-flow: column nowrap;
}






/* 3. Upper Controls Strip */
.MainTab_Cfun .column2 .upperControls{
    text-align: right;
    margin: 6px;
    margin-top: 2px;
}

.MainTab_Cfun .column2 .WgDropDown{
    margin-left: 10px;
}

.MainTab_Cfun .column2 .WgDropDown .dropbtn{
    width: 100px;
}


.MainTab_Cfun .column2 .upperControls .button{
   margin-top: 6px;
}
















/* 5. Lower Boxie */
.MainTab_Cfun .WgBoxie.colourStop{
    max-height: 100px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.MainTab_Cfun .colour-sun{
    margin-left: 20px;
    margin-top: 7px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
