/* MainTab_MotfEdit.css */

.MainTab_MotfEdit {
    flex: 1 auto;
    display: flex;
    flex-flow: row nowrap;
}



/* 1. setting up Two columns of block-content */

.MainTab_MotfEdit > .column1,
.MainTab_MotfEdit > .column2{
    display: flex;
    flex-flow: column nowrap;
}

.MainTab_MotfEdit > .column1{
    width: 470px;
}

.MainTab_MotfEdit > .column2{
    flex: 1 auto;
}



/* 2. drawingTools & MotifCanvas to be side-by-side*/

.MainTab_MotfEdit .canvasSection{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 3px;
}


.MainTab_MotfEdit .mainButtons{
    text-align: right;
    margin-bottom: 4px;
}