/* MotfEdit_Section_Properties_mElemContracted.css */


.MotfEdit_Section_Properties_mElemContracted{
    padding: 1px 4px;
    font-size: 12px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    padding-left: 34px;
}

.MotfEdit_Section_Properties_mElemContracted.focus{
    background: #a9c9f1;
}

.MotfEdit_Section_Properties_mElemContracted{
    border-bottom: 1px solid black;
}

.MotfEdit_Section_Properties_mElemContracted svg{
    position: absolute;
    left: 9.5px;
}