/* MotfEdit_Section_CanvasControls.css */

.MainTab_MotfEdit .canvasControls > input.plain-cell{
    font-size: 18px;
    width: 245px;
}

.MainTab_MotfEdit .canvasControls {
    height: 42px;
    margin-top: 4px;
    display: flex;
    flex-flow: row
}

.MainTab_MotfEdit .canvasControls .column2{
    margin-left: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.MainTab_MotfEdit .canvasControls > .column3{
    position: relative;
    flex: 1 auto;
}

.MainTab_MotfEdit .canvasControls .mouseCoords {
    color: rgba(0,0,0,0.5);
    font-size: 11px;
    position: absolute;
    bottom: -2px;
    right: 0px;
    width: 132px;
}

.MainTab_MotfEdit .canvasControls .mouseCoords span{
    font-weight: bold;
    color: #809db3;
}



/* Dropdown: 1. appearance of button without MouseOver */

.MainTab_MotfEdit .canvasControls .dropdown{
    margin: 0px 4px;
}

.MainTab_MotfEdit .canvasControls .dropbtn{
    width: 80px;
}

.dropdown.gridSettings .dropdown-content{
    /* for testing... */
    display: block;
}


/* Dropdown: 2. Custom styles for DropDown contents */
.MainTab_MotfEdit .canvasControls .dropdown .btn-set{
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.MainTab_MotfEdit .canvasControls  .dropdown-content{
    width: 145px;
    left: -73px;
    padding: 4px;
}

.dropdown.gridSettings .gridlines-custom-size > div{
    margin-bottom: 4px;
    margin-left: 12px;
}

.MainTab_MotfEdit .canvasControls .dropdown.gridSettings button.reset{
    margin-bottom: 2px;
    margin-left: 4px;
}



