/* MotfEdit_SubSec_mElemExpanded.css */

.MotfEdit_SubSec_mElemExpanded{
    border-bottom: 2px solid black;
        padding-bottom: 7px;
}

.MotfEdit_SubSec_mElemExpanded .bg-gradient{
    position: absolute;
    transition: background 0.2s;
    background: #c0cfdb;
    background: -moz-linear-gradient(top,  #c0cfdb 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top,  #c0cfdb 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #c0cfdb 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0cfdb', endColorstr='#ffffff',GradientType=0 );
    height: 27px;
    width: 100%;
}

.MotfEdit_SubSec_mElemExpanded.focus .bg-gradient{
    background: -moz-linear-gradient(top,  #6e9ae0 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top,  #6e9ae0 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #6e9ae0 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e9ae0', endColorstr='#ffffff',GradientType=0 );
}


.MotfEdit_SubSec_mElemExpanded .content{
    /* position: relative;
    this is needed for div itself to be visible above
    an absolutely positioned element (the gradient background)
    */
    position: relative;
    padding: 2px 6px;
}

.MotfEdit_SubSec_mElemExpanded svg{
    position: absolute;
    left: 4px;
}

.MotfEdit_SubSec_mElemExpanded .name{
    position: relative;
    left: 27px;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 20px;
}

.MotfEdit_SubSec_mElemExpanded .action-link{
    position: absolute;
    left: 226px;
    top: 2px;
}

.MotfEdit_SubSec_mElemExpanded img.dustbin{
    position: absolute;
    opacity: 0.5;
        height: 28px;
    right: 1px;
    top:  4px;
}

.MotfEdit_SubSec_mElemExpanded img.dustbin:hover{
    opacity: 1;
    filter: saturate(8) hue-rotate(120deg) drop-shadow(1px 1px 1px rgba(101, 86, 116, 0.58));
}






/* Rules Here related to Tables and table content */

.MotfEdit_SubSec_mElemExpanded div.tableHeading{
    font-weight: bold;
    font-size: 12px;
    color: #777;
}

.MotfEdit_SubSec_mElemExpanded .tableHeading:not(.pos_size){
    margin-top: 8px;
}

/* temporary styling... */
.MotfEdit_SubSec_mElemExpanded div.tableHeading > div{
    font-weight: normal;
    margin-left: 20px;
    font-size: 10px;
}





.MotfEdit_SubSec_mElemExpanded table{
    background: #ccc;
    border-spacing: 1px;
    color: #777;
    font-size: 11px;
    margin-top: 1px;
}

.MotfEdit_SubSec_mElemExpanded table td{
    background: white;
    transition: all 1s;
}

.MotfEdit_SubSec_mElemExpanded table td.prop{
    width: 54px;
}

.MotfEdit_SubSec_mElemExpanded table td.valu{
    width: 138px;
}

.MotfEdit_SubSec_mElemExpanded table td.more{
    width: 13px;
}
