/* MotfEdit_Section_CanvasControls.css */

.MainTab_MotfEdit .canvasControls > input.plain-cell{
    font-size: 18px;
    width: 245px;
}

.MainTab_MotfEdit .canvasControls {
    height: 47px;
    margin-top: 4px;
    display: flex;
    flex-flow: row
}

.MainTab_MotfEdit .canvasControls .backgroundBTTW{
    margin-top: 1px;
}


.MainTab_MotfEdit .canvasControls .column2{
    margin-left: 10px;
    flex: 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.MainTab_MotfEdit .canvasControls > .column3{
    position: relative;
    max-width: 180px;
}

.MainTab_MotfEdit .canvasControls .mouseCoords {
    color: rgba(0,0,0,0.5);
    font-size: 11px;
    position: absolute;
    bottom: -5px;
    right: 0px;
    width: 132px;
}

.MainTab_MotfEdit .canvasControls .mouseCoords span{
    font-weight: bold;
    color: #809db3;
}

.MainTab_MotfEdit .canvasControls .selection-comment{
    position: relative;
    left: -35px;
    font-size: 11px;
    font-weight: bold;
    padding-top: 3px;
    color: #809db3;
    width: 75px;
    text-align: center;
}

.MainTab_MotfEdit .canvasControls .selection-comment.multi{
    color: #0f7cce;
      text-shadow: 0px 0px 3px white;
}




/* Dropdown: 1. appearance of button without MouseOver */

.MainTab_MotfEdit .canvasControls .WgDropDown{
    margin: 0px 4px;
}

.MainTab_MotfEdit .canvasControls .dropbtn{
    width: 80px;
}

/* Dropdown: 2. Custom styles for DropDown contents */

.MainTab_MotfEdit .canvasControls  .WgDropDown .content{
    width: 145px;
    left: -73px;
    padding: 4px;
}

.WgDropDown.gridSettings .customSize > div{
    margin-bottom: 4px;
    margin-left: 12px;
}

.MainTab_MotfEdit .canvasControls .WgDropDown.gridSettings button.reset{
    margin-bottom: 2px;
    margin-left: 4px;
}


/* Dropdown: More Specific style customisations for
 "Snap Settings" dropdown...
*/
.MainTab_MotfEdit .WgDropDown .btn-set.snapAxes button{
    width: 42px;
}





/* Dropdown: 3. Position */
.MainTab_MotfEdit .canvasControls .objectOrigin{
    margin-top: 5px;
    margin-left: 92px;
}

/* Dropdown: 3. Custom styles for DropDown contents */
.MainTab_MotfEdit .canvasControls .WgDropDown.objectOrigin .content{
    width: 110px;
    left: -38px;
    text-align: center;
}

.MainTab_MotfEdit .canvasControls .objectOrigin .shapeOrigin{
    padding-right: 5px;
    padding-bottom: 5px;
    opacity: 0.6;
    border: 3px solid transparent;
    border-radius: 4px;
    margin: 2px 4px;
}

.MainTab_MotfEdit .canvasControls .objectOrigin .shapeOrigin:hover{
    border: 3px solid rgba(39, 58, 124, 0.75);
    background: rgba(39, 58, 124, 0.03);
        opacity: 0.7;
}

.MainTab_MotfEdit .canvasControls .objectOrigin .shapeOrigin.selected{
    opacity: 1;
    background: rgba(39, 58, 124, 0.2);
}

.MainTab_MotfEdit .canvasControls .objectOrigin .shapeOrigin:last-child{
    padding-bottom: 3px;
}

.MainTab_MotfEdit .canvasControls .objectOrigin img{
    margin-top: 2px;
    opacity: 0.5;
}

.MainTab_MotfEdit .canvasControls .objectOrigin .sub-h{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.8;
}
