/* MotfEdit_SubSec_mElem_menu.css */

.MotfEdit_SubSec_mElem_menu > img.downArrow{
    width: 8px;
    opacity: 0.25;
}

.MotfEdit_SubSec_mElem_menu{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    background: rgba(255,255,255,0.8);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    transition: all 0.2s;
}

.MotfEdit_SubSec_mElem_menu:hover  > img.downArrow {
    opacity: 0.65;
}

.MotfEdit_SubSec_mElem_menu:not(.expanded):hover{
    background: #d9e6f7;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
}

.MotfEdit_SubSec_mElem_menu.expanded{
    width: 150px;
    height: 100px;
    z-index: 2;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
    background: rgba(255,255,255,0.85);
    display: block;
    color: #333;

}

.MotfEdit_SubSec_mElem_menu.expanded > div{
    width: 150px;
    height: 100px;
    padding: 1px 4px
}

.MotfEdit_SubSec_mElem_menu.expanded .closeIcon{
    position: absolute;
    right: 1px;
    top: 1px;
    width: 14px;
    opacity: 0.5;
}

.MotfEdit_SubSec_mElem_menu.expanded .closeIcon:hover{
    opacity: 0.9;
}

.MotfEdit_SubSec_mElem_menu.expanded .A{
    font-weight: bold;
    font-size: 13px;
}

.MotfEdit_SubSec_mElem_menu.expanded input{
    width: 60px;
    border: 1px solid gray;
    font-size: 11px;
}