/* MotfEdit_Section_Properties.css */

.MainTab_MotfEdit .properties {
    margin: 6px;
    border: 3px inset #DBD1AB;
    background-color: white;
}

.MainTab_MotfEdit .properties .freezeHeading{
    text-align: center; 
    background-color: #CCC;
    font-weight: bold;
    padding: 2px;
    border-bottom: 1px solid black;

}

.MainTab_MotfEdit .properties .scrollableContent{
    overflow-x: hidden;
    overflow-y: auto;
    height: 380px;
}

.MainTab_MotfEdit .propertiesButtons{
    text-align: right;
    margin-bottom: 4px;
    margin-right: 6px;
}


/* MotfEdit_Section_Properties_ ...
 mElem - common properties
*/



.MainTab_MotfEdit .properties .mElem{
    position: relative;
}

.MainTab_MotfEdit .properties .mElem:last-child{
    border-bottom: none;
}



/* COLOUR PICKER CSS...

this should go in a separate file
(I think, depending on number of rules)

MotfEdit_Section_Properties_mElem_ColPick.css
*/

.MotfEdit_Section_Properties_mElem_ColPick{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.MotfEdit_Section_Properties_mElem_ColPick .chequer{
    display: inline-block;
    height: 10px;
    width: 60px;
    margin: 1px;
}

.MotfEdit_Section_Properties_mElem_ColPick .chequer > .swatch{
    width: 100%;
    height: 100%;
}

.MotfEdit_Section_Properties_mElem_ColPick img{
    margin-bottom: 4px;
    margin-left: 4px;
    width: 10px;
}

.MotfEdit_Section_Properties_mElem_ColPick .sketch-picker{
    position: absolute;
    right: -20px;
    top: 0px;
    z-index: 1;
}







/* Expand All popout
*/
.MainTab_MotfEdit .button.expandAll > div.expanded h1{
    font-size: 15px;
    padding: 0;
    margin: 2px 4px;
}

.MainTab_MotfEdit .button.expandAll img.closeIcon{
    position: absolute;
    right: 5px;
    top: 2px;
    width: 20px;
    opacity: 0.5;
}

.MainTab_MotfEdit .button.expandAll img.closeIcon:hover{
    opacity: 0.9;
}