/* MotfEdit_Section_Properties_mElem_Dropdown.css */

.MotfEdit_Section_Properties_mElem_Dropdown > img.downArrow{
    width: 8px;
    opacity: 0.25;
}

.MotfEdit_Section_Properties_mElem_Dropdown{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    background: rgba(255,255,255,0.8);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    transition: all 0.2s, width 0.1s;
    transition: ;
}

.recent-change .MotfEdit_Section_Properties_mElem_Dropdown{
    background: #ffd46e;
    box-shadow: 0px 0px 1px 1px rgba(60,60,60,0.7);
}

.recent-change .MotfEdit_Section_Properties_mElem_Dropdown > img.downArrow {
    opacity: 0.45;
}

.MotfEdit_Section_Properties_mElem_Dropdown:not(.expanded):hover{
    background: #d9e6f7;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
}

.MotfEdit_Section_Properties_mElem_Dropdown:hover  > img.downArrow {
    opacity: 0.65;
}

.MotfEdit_Section_Properties_mElem_Dropdown.expanded{
    width: 150px;
    height: 100px;
    z-index: 2;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.7), 2px 4px 16px 2px rgba(0,0,0,0.30);
    background: rgba(255,255,255,0.85);
    display: block;
    color: #333;

}

.MotfEdit_Section_Properties_mElem_Dropdown.expanded > div{
    width: 150px;
    height: 100px;
    padding: 1px 4px
}

.MotfEdit_Section_Properties_mElem_Dropdown.expanded .closeIcon{
    position: absolute;
    right: 1px;
    top: 1px;
    width: 14px;
    opacity: 0.5;
}

.MotfEdit_Section_Properties_mElem_Dropdown.expanded .closeIcon:hover{
    opacity: 0.9;
}

.MotfEdit_Section_Properties_mElem_Dropdown.expanded .A{
    font-weight: bold;
    font-size: 13px;
}

.MotfEdit_Section_Properties_mElem_Dropdown.expanded input{
    position: absolute;
    right: 4px;
    top: 19px;
    width: 50px;
    border: 1px solid gray;
    font-size: 11px;
}