/* MotfEdit_Section_DrawingTools.css */

.MainTab_MotfEdit .canvasSection .drawingTools{
    max-width: 100px;
}


.MainTab_MotfEdit .canvasSection .drawingTools .drawMany{
    padding: 2px 3px;
}

.MainTab_MotfEdit .drawingTools .basicShapes{
    padding: 1px 4px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

.MainTab_MotfEdit .drawingTools .basicShapes > .WgSpecialButton{
    margin: 2px;
}

.MainTab_MotfEdit .drawingTools .WgSpecialButton img{
    position: relative;
    width: 18px;
}




/*
    Customisations to Colour Pickers...
*/

.colourPickers .colorpicker .maximize-wrapper {
    padding: 0;
    transition: padding 0.5s, border-radius 0.5s;
}

.colourPickers .colorpicker.expanded .maximize-wrapper {
    padding: 0.4em;
    box-shadow: 0 .07em .4em rgba(0,0,0,.8);
}