/* MotfEdit_Section_Properties.css */

.MainTab_MotfEdit .properties {
    margin: 6px;
    border: 3px inset #DBD1AB;
    background-color: white;
}

.MainTab_MotfEdit .properties .freezeHeading{
    text-align: center; 
    background-color: #CCC;
    font-weight: bold;
    padding: 2px;
    border-bottom: 1px solid black;

}

.MainTab_MotfEdit .properties .scrollableContent{
    overflow-x: hidden;
    overflow-y: auto;
    height: 380px;
}

.MainTab_MotfEdit .propertiesButtons{
    text-align: right;
    margin-bottom: 4px;
    margin-right: 6px;
}


/* MotfEdit_SubSec_ ...
 mElem - common properties
*/



.MainTab_MotfEdit .properties .mElem{
    position: relative;
}

.MainTab_MotfEdit .properties .mElem:last-child{
    border-bottom: none;
}