/* MotfEdit_Section_MotifCanvas.css */

.MainTab_MotfEdit .MotfEdit_Section_MotifCanvas{
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,1);
    margin: 12px;
    margin-top: 11px;
    margin-bottom: 3px;
    width: 399px;
    height: 399px;
    overflow: hidden;
    transition: border-radius 0.4s;
}

.MainTab_MotfEdit .MotfEdit_Section_MotifCanvas.circular{
    border-radius: 200px;
}




/* BG   */

.MotfEdit_Section_MotifCanvas .layer{
    position: absolute;
    width: 399px;
    height: 399px;
    /*overwrites CSSTransitionGroup of <WgFadeTransition>*/
    transition: all 0.2s;
    transition: border-radius 0.6s;
}

.MotfEdit_Section_MotifCanvas.circular .layer{
    border-radius: 200px;
}

.MotfEdit_Section_MotifCanvas .layer.white{
    background-color: white;
}

.MotfEdit_Section_MotifCanvas .layer.black{
    background-color: black;
}

.MotfEdit_Section_MotifCanvas .layer.chequer{
    border: none;
}







/* GD */

.MotfEdit_Section_MotifCanvas svg{
    transition: border-radius 0.4s;
    position: absolute;
}

.MotfEdit_Section_MotifCanvas.circular svg{
        border-radius: 200px;
}

/* motif canvas SVG */
.MotfEdit_Section_MotifCanvas svg *{
    transition: all 0.2s;
}

.MotfEdit_Section_MotifCanvas svg .hidden{
        transition: all 0.8s;
    opacity: 0;
}

.MotfEdit_Section_MotifCanvas svg .axes line{
    stroke: black;
    stroke-width: 2;
}





/* Faintness controls for both lines and circles */

.MotfEdit_Section_MotifCanvas svg.dark#bg-axes-grid .axes line{
    stroke: white;
}

.MotfEdit_Section_MotifCanvas svg g.gridlines * {
    stroke: rgba(0, 0, 0, 0.12); 
    transition: all 0.8s;
}

.MotfEdit_Section_MotifCanvas svg g.gridlines.faint * {
    stroke: rgba(0, 0, 0, 0.05);
}

.MotfEdit_Section_MotifCanvas svg g.gridlines.strong *{
    stroke: rgba(0, 0, 0, 0.25); 
}

.MotfEdit_Section_MotifCanvas svg.dark g.gridlines *{
    stroke: rgba(255, 255, 255, 0.12); 
}

.MotfEdit_Section_MotifCanvas svg.dark g.gridlines.faint *{
    stroke: rgba(255, 255, 255, 0.05);
}

.MotfEdit_Section_MotifCanvas svg.dark g.gridlines.strong *{
    stroke: rgba(255, 255, 255, 0.25); 
}




/* Polar grid styling */
.MotfEdit_Section_MotifCanvas svg g.gridlines circle{
    fill: none;
    stroke-width: 1;
}