/* MotfEdit_Section_DrawingTools.css */

.MainTab_MotfEdit .canvasSection .drawingTools{
    max-width: 100px;
}


.MainTab_MotfEdit .canvasSection .drawingTools .drawMany{
    padding: 2px 3px;
    padding-bottom: 5px;
}

.MainTab_MotfEdit .drawingTools .basicShapes{
    padding: 3px 4px;
    border-top: 1px solid rgba(0,0,0,0.4);
}

.MainTab_MotfEdit .drawingTools .basicShapes > .WgSpecialButton{
    margin: 2px;
}

.MainTab_MotfEdit .drawingTools .WgSpecialButton img{
    position: relative;
    width: 18px;
}