/* PGT_App.css */

body{
    margin: 0px;
    padding: 0px;
}

.PGT_App svg{
    display: block;
}

.PGT_App .GridsSVGcontainer svg{
    position: absolute;
    top: 0px;
    left: 0px;
}

.Background_Plot .plot-canvas{
    position: absolute;
    display: block;
}

.Background_Plot .plot-canvas.hide{
   display: none;
}

.Background_Plot svg{
    position: absolute;
    
}


/* for new CSS file

ToastManager.css
*/

.toastMsg{
    z-index: 3;
    position: absolute;
    left: 50%;
    width: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    background-color: rgba(153, 206, 255, 0.8);
    border: 2px solid rgba(39, 105, 180, 0.7);
    padding: 5px 12px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: rgba(39, 105, 180, 0.7);
}

.toastMsg > h1{
        color: rgba(4, 50, 63, 0.8);
    font-size: 18px;
    margin: 0px;
    margin-bottom: 4px;
}