/* PGT_Background.css */
.PGT_Background{
    position: absolute; /* necesary?? */
  display: block;
}

.PGT_Background div.bg-grey{
    position: absolute; /* necesary?? */
  background: lightgray;
    display: block;
}

.PGT_Background div.bg-grey > div{
    margin: 20px;
  display: inline-block;
  box-shadow: 0px 0px 4px 2px black;
  background: white;
}