/* Toolbox.css */

.BeigeWindow{
    background-color: #DBD1AB;
    box-shadow: 0px 0px 3px 3px #000;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    /*overflow: hidden;*/
}

.Toolbox{
    z-index: 3;
    position: absolute;
    top: 8px;
    left: 8px;
    transition: width 0.7s, height 0.7s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; /* this is a cover-all default*/
    display: flex;
    flex-flow: column nowrap;
}

.Title-Strip{
    border-bottom: 2px solid #404040;
    background: linear-gradient(to right,  #4b9bd8 0%,#a6c8f4 100%);
    border-radius: 10px 10px 0px 0px;
    min-height: 65px;
}

.Toolbox > .WgTabbedSection{
    flex: 1 auto; /* to uss full HEIGHT of container */
}

.Toolbox > .WgTabbedSection > .TabStrip{
    border-bottom: 1px solid #404040;
}







.Toolbox.size-1{
    width: 700px;
    height: 400px;
}

.Toolbox.size-2{
    width: 472px;
    height: 700px;
}

.Toolbox.size-3{
    width: 1000px;
    height: 750px;
}












.chequer{
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyIiBoZWlnaHQ9IjIiPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjAiIHk9IjAiIHN0eWxlPSJmaWxsOiNjYWNhY2EiIC8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iMSIgeT0iMSIgc3R5bGU9ImZpbGw6I2NhY2FjYSIgLz48L3N2Zz4=);
    background-size:auto 10px;
    border: 1px solid black;
}

.chequer.tiny{
    background-size:auto 4px;
}