/* CpotCellBlock.css */

table.CpotCellBlock{
    display: inline-block;
    margin: 0px;
    background-color: white;
    border: 1px solid black;
    border-spacing: 0px;
}

table.CpotCellBlock tbody{
    border-spacing: 0px;
    border: none;
}

table.CpotCellBlock td{
    border: 1px solid black;
    padding: 0px;
}
