/* PaneColourPotsEdit.css */

/*  Name Editing Input */
.PaneEditColourPots > input{
    font-size: 24px;
    width: 248px;
    margin: 6px;
    margin-bottom: 0px;
}


/* WgTable of Cpot Items */
.PaneEditColourPots  .WgTable tbody{
    height: 364px;
}

.PaneEditColourPots  .col-1{
    width: 21px;
}

.PaneEditColourPots  .col-2{
    width: 58px;/*6 px larger than cell width below*/
}

.PaneEditColourPots th.col-3{
    width: 157px;
}

/* width of the edit cell*/
.PaneEditColourPots .blue-cell{
    width: 52px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.PaneEditColourPots  .col-2{
    padding:0px;
}




/* Column 3 contents - item preview */
.PaneEditColourPots .itemType{
    text-align: left;
    width: 140px;
    font-size: 10px;
}

.PaneEditColourPots .WgTable .WgGradientCell{
    margin: 1px;
    border: 1px solid black;
}

.PaneEditColourPots div .itemDemo{
    position: relative;
}

.PaneEditColourPots .WgTable .WgColourPill{
    position: absolute;
    height: 15px;
    border-radius: 10px;
    border: 2px solid black;   
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
    left: 6px;
    width: 69px;
    z-index: 1;
}

.PaneEditColourPots .WgAlphaSwatch{
    position: absolute;
    background-color: white;
    right: 2px;
    height: 15px;
    width: 49px;
}

.PaneEditColourPots .WgAlphaSwatch .chequer{
    position: absolute;
    right: 0px;
    width: 25px;
}

.PaneEditColourPots .WgAlphaSwatch .swatch{
    position: absolute;
    width: 34px;
    height: 15px;
    right: 12px;
}




/* Item preview: Range */
.PaneEditColourPots .range .itemDemo{
    height: 68px;
}

.PaneEditColourPots .range .threeCells{
    position: absolute;
    display: block;
    font-size: 0px;
}

.PaneEditColourPots .range .WgColourPill{
    top: 25px;
}

.PaneEditColourPots .range .threeCells.n2{
    top: 39px;
}

.PaneEditColourPots .range .WgAlphaSwatch{
    top: 6px;
    height: 57px;
}

.PaneEditColourPots .range .WgAlphaSwatch .chequer{
    height: 55px;
}

.PaneEditColourPots .range .WgAlphaSwatch .swatch.n1{
    top: 10px;
}

.PaneEditColourPots .range .WgAlphaSwatch .swatch.n2{
    bottom: 10px;
}


/* Item preview: Solid */
.PaneEditColourPots .solid .itemDemo{
    height: 26px;
}

.PaneEditColourPots .solid .WgColourPill{
    top: 4px;
}

.PaneEditColourPots .solid .WgAlphaSwatch{
    top: 2px;
    height: 21px;
}

.PaneEditColourPots .solid .WgAlphaSwatch .chequer{
    height: 19px;
}

.PaneEditColourPots .solid .WgAlphaSwatch .swatch{
    top: 3px;
}










/* Space beneath the Items listing */

.PaneEditColourPots  .WgTable{
    margin-bottom: 0px;
}

.PaneEditColourPots > .beneathTable{
    position: relative;
margin: 5px;
    margin-top: 2px;
width: 252px;
height: 48px;
}

.PaneEditColourPots .beneathTable .mainButtons{
    position: absolute;
    top: 3px;
    right: 0px;
    width: 58px;
}

.PaneEditColourPots .beneathTable .mainButtons .button{
    width: 58px;
    margin-bottom: 5px;
}

.PaneEditColourPots .probsSumText{
    font-size: 12px;
    color: black;
}

.PaneEditColourPots .probsSumText.sumIs100{
    color: rgba(0,30,70,0.5);
}

.PaneEditColourPots .probsSumText span{
    font-weight: bold;
}

.PaneEditColourPots .probsSumText .error span{
    color: rgb(222, 100, 29);
}

.PaneEditColourPots .probsSumText .error.sumLT100 span{
    color: rgb(121, 70, 179);
}

.PaneEditColourPots .probsSumText.sumIs100 .error{
    display: none;
}








/* Space to the right of the Items listing */

.PaneEditColourPots .Zone{
    transition: opacity 0.4s;
    position: absolute;
    top: 7px;
    right: 10px;
}

.PaneEditColourPots .Zone.hide{
    opacity: 0;
}


.PaneEditColourPots .bigPreview.Zone .CpotCellBlock td{
    width: 22px;
    height: 22px;
}

.PaneEditColourPots .bigPreview.Zone div.CpotCellBlock.invalid{
    width: 190px;
    height: 454px;
}


.PaneEditColourPots .controls.Zone .solid{
    background: cyan;
    width: 30px;
    height: 376px;
}

.PaneEditColourPots .controls.Zone .CpotCellBlock td{
    width: 8px;
    height: 8px;
}

.PaneEditColourPots .controls.Zone div.CpotCellBlock.invalid{
    width: 188px;
    height: 78px;
}






.PaneEditColourPots > .mainButtons{
    position: absolute;
    bottom: 6px;
    right: 12px;
}


/*this styling is for INPUTs not embedded in tables*/

/* this needs to go into a more general file...*/
/* i.e. the SmartInputs css file...*/

input.plain-cell{
    transition: all 0.2s;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.6);
    font-family: sans; /*don't really want this anymore...*/
}

input.plain-cell.s{
    font-size: 12px;
    width: 40px;
}

input.plain-cell:hover{
    border-color: rgba(0,70,180,0.5);
    background: rgba(255,255,255,0.4);
    color: rgba(0,0,0,0.7);
}

input.plain-cell:focus{
    border-color: rgba(0,70,180,0.8);
    background: rgba(255,255,255,0.8);
    color: black;
    box-shadow: 0px 0px 5px 1px rgba(36, 166, 191, 0.42);
}



