/* PaneColourPotsEdit.css */

/*  Name Editing Input */
.PaneEditColourPots > input{
    font-size: 24px;
    width: 248px;
    margin: 6px;
    margin-bottom: 0px;
}


/* Contents table */
.PaneEditColourPots  tbody{
    height: 364px;
}

.PaneEditColourPots  .col-1{
    width: 21px;
}

.PaneEditColourPots  .col-2{
    width: 58px;/*6 px larger than cell width below*/
}

.PaneEditColourPots  th.col-3{
    width: 157px;
}

/* width of the edit cell*/
.PaneEditColourPots .blue-cell{
    width: 52px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.PaneEditColourPots  .col-2{
    padding:0px;
}

.PaneEditColourPots .itemType{
    text-align: left;
    font-size: 10px;
}

.PaneEditColourPots .WgTable .WgGradientCell{
    margin: 0px 1px;
    border: 1px solid black;
}

.PaneEditColourPots .WgTable .threeCells{
    display: block;
    font-size: 0px;
}

















/*this styling is for INPUTs not embedded in tables*/

/* this needs to go into a more general file...*/

input.plain-cell{
    transition: all 0.2s;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.6);
    font-family: sans; /*don't really want this anymore...*/
}

input.plain-cell.s{
    font-size: 12px;
    width: 40px;
}

input.plain-cell:hover{
    border-color: rgba(0,70,180,0.5);
    background: rgba(255,255,255,0.4);
    color: rgba(0,0,0,0.7);
}

input.plain-cell:focus{
    border-color: rgba(0,70,180,0.8);
    background: rgba(255,255,255,0.8);
    color: black;
    box-shadow: 0px 0px 5px 1px rgba(36, 166, 191, 0.42);
}
