.Tab-Strip > div {
    transition: background 0.2s;
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
    padding: 1px 5px;
    margin: 1px;
    margin-top: 2px;
    margin-bottom: 0px;
    border: 1px solid rgba(0,30,70,0.4);
    border-bottom-width: 0px;
    transition: background 0.2s;
    background: rgba(0,30,70,0.1);
    color: rgba(0,30,70,1);
    cursor: pointer;
}

.Tab-Strip > div:hover{
    transition: background 0.2s;
    background: rgba(0,70,180,0.3);
    text-decoration: underline;
    color: #004370;
}

.Tab-Strip > div.active{
    background: rgba(0,30,70,0.25);
}