/* Toolbox.css */

.BeigeWindow{
    background-color: #DBD1AB;
    box-shadow: 0px 0px 3px 3px #000;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.Toolbox{
    position: absolute;
    top: 90px;
    left: 6px;
    transition: width 0.7s, height 0.7s;
    width: 700px;
    height: 400px;
}

.Title-Strip{
    border-bottom: 2px solid #404040;
    background: linear-gradient(to right,  #4b9bd8 0%,#a6c8f4 100%);
    border-radius: 10px 10px 0px 0px;
    height: 65px;
}