/* WgTable.css */

.WgTable{
    margin: 6px;
    border: 3px inset #DBD1AB;
    background: white;
    border-spacing: 0px;
    text-align: center;
}

.WgTable th,
.WgTable td{
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
    padding: 2px;
}

.WgTable th {
    background: #CCC;
}



/* http://jsfiddle.net/hashem/CrSpu/555/ */
.WgTable tbody,
.WgTable thead { display: block; }

.WgTable tbody{
    overflow-x: hidden;
    overflow-y: auto;

}

.WgTable > thead > tr > th:last-child,
.WgTable > tbody > tr > td:last-child {
    border-right: none;
}

.WgTable > tbody > tr:hover{
    background: #E1EFF5;
}

.WgTable tr.pink:hover{/*Pink 1*/
    background: #F5E1EB;
}

.WgTable tr.invalid:hover{
    background: #e4f1f1;
}

.WgTable > tbody > tr.selected{
    background: #7DC8EC;
}

.WgTable tr.selected.pink{/*Pink 2*/
    background: #FFB4DA;
}

.WgTable tr.selected.invalid{
    background: #a6c4c4;
}

/* styling the tr>td>input element within a table to indicate when editing*/
.WgTable .blue-cell{
    border: 2px solid transparent;/*for spacing purposes*/
    background: none;
    cursor:default;
}

.WgTable .invalid .blue-cell{
    color: red;
}

/* don't use tr. to ensure correct selection */
.WgTable .selected .blue-cell:hover{
    cursor:text;
    border: 2px solid rgba(2,143,237,0.8);
    background: rgba(255, 255, 255, 0.4);
}

.WgTable .selected.pink .blue-cell:hover{/*Pink 3*/
    cursor:text;
    border: 2px solid rgba(237, 2, 127, 0.8);
    background: rgba(255, 255, 255, 0.4);
}

.WgTable .blue-cell.ui-enabled,
.WgTable .blue-cell.ui-enabled:hover{
    cursor:text;
    font-family: sans;
    border: 2px solid rgba(2,143,237,1);
    background: rgba(255,255,255,1);
}

.WgTable .pink .blue-cell.ui-enabled,
.WgTable .pink .blue-cell.ui-enabled:hover{/*Pink 4*/
    cursor:text;
    font-family: sans;
    border: 2px solid rgba(237, 2, 127, 1);
    background: rgba(255,255,255,1);
}