/* CpotEdit_Section_Range.css */


.MainTab_CpotEdit .editZone{
     margin-bottom: 7px;
}

.MainTab_CpotEdit .editZone.range .WgBoxie .outline{
    padding: 3px;
}




/* Colour Pot - Edit range -> (common to central & boundries)*/
.MainTab_CpotEdit .editZone .view{
    background-color: white;
    box-shadow: 0px 0px 2px 1px white;
    position: absolute; 
}


/* Colour Pot - Edit range -> Central*/
.MainTab_CpotEdit .editZone .central .colour-sun.s{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    right: 35px;
    top: 7px;
}

.MainTab_CpotEdit .editZone .central .Ln1 .text{
    width: 100px;
    position: absolute;
    top: 17px;
    left: 22px;
    font-size: 16px;
}

.MainTab_CpotEdit .editZone .central .Ln1{
    height: 64px;
}
    

.MainTab_CpotEdit .editZone .central .Ln{
    border-top: 1px solid rgba(0,0,0,0.5);
    position: relative;
    height: 70px;
    font-size: 12px
}

.MainTab_CpotEdit .editZone .central .Ln .name{
    font-weight: bold;
    color: rgba(0,0,0,0.75);
    position: absolute;
    top: 4px;
}


.MainTab_CpotEdit .editZone .central .Ln input{
    height: 15px;
    width: 45px;
}

.MainTab_CpotEdit .editZone .central .Ln .mid,
.MainTab_CpotEdit .editZone .central .Ln .var{
    position: absolute;
    top: 2px;
    left: 45px;
    font-size: 10px;
    color: rgba(0,0,0,0.5);
}

.MainTab_CpotEdit .editZone .central .Ln .var{
    left: 115px;
}

.MainTab_CpotEdit .editZone .central .Ln .view{

    top: 24px;
    left: 3px;
    width: 181px;
    height: 32px;
}

.MainTab_CpotEdit .editZone .central .Ln .chequer{
    position: absolute;
    width: 175px;
    height: 14px;
    left: 2px;
    top: 16px;
    border-bottom: none;
}

.MainTab_CpotEdit .editZone .central .Ln .B{
    position: absolute;
    width: 26px;
    height: 26px;
    top: 3px;
    left: 14px;
    background-color: rgba(22, 189, 63, 0.65);
    transition: transform 0.1s;
}


.MainTab_CpotEdit .editZone .central .Ln .B:hover{
    outline: 1px solid black;
    box-shadow: 0px 0px 2px 1px black;
    z-index: 2;
}

.MainTab_CpotEdit .editZone .central .Ln .B.sel{
    box-shadow: 0px 0px 2px 2px black;
    outline: double black;
    z-index: 3;
}


.MainTab_CpotEdit .editZone .central .Ln .B.right{
    left: auto;
    right: 14px;
}

.MainTab_CpotEdit .editZone .central .Ln .B.center{
    left: 40px;
    height: 16px;
    top: 8px;
    width: 101px;
}






/* Colour Pot - Edit range -> Boundaries*/
.MainTab_CpotEdit .editZone .boundaries .colour-sun.m{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    position: absolute;
    left: 106px;
    top: 0px;
    z-index: 1;
}

.MainTab_CpotEdit .editZone .boundaries .colour-block{
    position: absolute;
    height: 74px;
}

.MainTab_CpotEdit .editZone .boundaries .text{
    position: relative;
    left:12px;
    font-size: 18px;
}

.MainTab_CpotEdit .editZone .boundaries .view{
    top: 28px;
    left: 7px;
    width: 86px;
    height: 36px;
}

.MainTab_CpotEdit .editZone .boundaries .view .chequer{
    position: absolute;
    width: 40px;
    top: 3px;
    right: 2px;
    height: 28px; 
}

.MainTab_CpotEdit .editZone .boundaries .view .B{
    top: 0px;
    position: absolute;
    top: 10px;
    left: 8px;
    width: 60px;
    height: 16px; 
    background-color: yellowgreen;
}

.MainTab_CpotEdit .editZone .boundaries .colour-block.c1{
    top:15px;
}

.MainTab_CpotEdit .editZone .boundaries .colour-block.c2{
    bottom: 15px;
}

.MainTab_CpotEdit .editZone .boundaries .colour-bar{
    position: absolute;
    top: 86px;
    left: 135px;
    width: 20px;
    height: 183px;
    background-color: white;
}

.MainTab_CpotEdit .editZone .boundaries .colour-bar .gradient{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,
        blue,  /*1*/
        rgba(215, 215, 26, 0.6) /*2*/
    );
}

.MainTab_CpotEdit .editZone .boundaries .alc{
    position: absolute;
    left: 17px;
}

.MainTab_CpotEdit .editZone .boundaries .alc#reverse-hue{
    top: 160px;
}

.MainTab_CpotEdit .editZone .boundaries .alc#permute-sla{
    top: 180px;
}