/* CpotEdit_Section_BeneathTable.css */




/* Overall Positioning */

.MainTab_CpotEdit  .WgTable{
    margin-bottom: 0px;
}

.MainTab_CpotEdit > .beneathTable{
    position: relative;
    margin: 5px;
    margin-top: 2px;
    width: 252px;
    height: 48px;
}




/* Add & Delete buttons... */

.MainTab_CpotEdit .beneathTable .mainButtons{
    position: absolute;
    top: 3px;
    right: 0px;
    width: 58px;
}

.MainTab_CpotEdit .beneathTable .mainButtons .button{
    width: 60px;
    margin-bottom: 5px;
}

.MainTab_CpotEdit .beneathTable .WgButtonExpanding.button{
    width: 40px;
}


/* Expanded section of "Add" button... */

.MainTab_CpotEdit .beneathTable .WgButtonExpanding .popout.expanded{
    z-index: 1;
    height: 63px;
    width: 230px;
    right: -213px;
    bottom: -1px;
}

.MainTab_CpotEdit .beneathTable .WgButtonExpanding .popout.expanded > div{
    padding: 3px 4px;
}

.MainTab_CpotEdit .beneathTable .WgButtonExpanding .palette div{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid black;
    margin: 4px;
    border-radius: 4px;
    transition: all 0.2s;
}

.MainTab_CpotEdit .beneathTable .WgButtonExpanding .palette div:hover{
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,1);
}



/* "Probabilities Sum" text */

.MainTab_CpotEdit .probsSumText{
    font-size: 12px;
    color: black;
}

.MainTab_CpotEdit .probsSumText.sumIs100{
    color: rgba(0,30,70,0.5);
}

.MainTab_CpotEdit .probsSumText span{
    font-weight: bold;
}

.MainTab_CpotEdit .probsSumText .error span{
    color: rgb(222, 100, 29);
}

.MainTab_CpotEdit .probsSumText .error.sumLT100 span{
    color: rgb(121, 70, 179);
}

.MainTab_CpotEdit .probsSumText.sumIs100 .error{
    display: none;
}





/* Dropdown menus */

.MainTab_CpotEdit .mainDropdowns{
    position: absolute;
    bottom: 3px;
}

.MainTab_CpotEdit .mainDropdowns .dropbtn{
    width: 90px;
}

.MainTab_CpotEdit .mainDropdowns .WgDropDown{
    margin-right: 5px;
}
