/* CpotEdit_Section_BeneathTable.css */




/* Overall Positioning */

.MainTab_CpotEdit  .WgTable{
    margin-bottom: 0px;
}

.MainTab_CpotEdit > .beneathTable{
    position: relative;
    margin: 5px;
    margin-top: 2px;
    width: 252px;
    height: 48px;
}




/* Add & Delete buttons... */

.MainTab_CpotEdit .beneathTable .mainButtons{
    position: absolute;
    top: 3px;
    right: 0px;
    width: 58px;
}

.MainTab_CpotEdit .beneathTable .mainButtons .button{
    width: 58px;
    margin-bottom: 5px;
}





/* "Probabilities Sum" text */

.MainTab_CpotEdit .probsSumText{
    font-size: 12px;
    color: black;
}

.MainTab_CpotEdit .probsSumText.sumIs100{
    color: rgba(0,30,70,0.5);
}

.MainTab_CpotEdit .probsSumText span{
    font-weight: bold;
}

.MainTab_CpotEdit .probsSumText .error span{
    color: rgb(222, 100, 29);
}

.MainTab_CpotEdit .probsSumText .error.sumLT100 span{
    color: rgb(121, 70, 179);
}

.MainTab_CpotEdit .probsSumText.sumIs100 .error{
    display: none;
}





/* Dropdown menus */

.MainTab_CpotEdit .mainDropdowns{
    position: absolute;
    bottom: 3px;
}

.MainTab_CpotEdit .mainDropdowns .dropbtn{
    width: 92px;
}

.MainTab_CpotEdit .mainDropdowns .dropdown{
    margin-right: 5px;
}
