/* MainTab_Opts.css */

.MainTab_Opts{
  padding: 5px;
  flex: 1 auto;
  display: flex;
}

.MainTab_Opts > div{
  display: flex;
  flex-flow: column;
}

.MainTab_Opts .column1{
  min-width: 220px;
}

.MainTab_Opts .column2{
  margin-left: 8px;
  flex: 1 auto;
}

.MainTab_Opts .WgBoxie .contents{
  padding: 4px;
}

.MainTab_Opts .WgBoxie:last-child{
  margin-top: 6px;
}


label{
  display: block;
  font-size: 14px;
}

.MainTab_Opts .fixedDimentions{
  font-size: 12px;
  margin-top: 10px;
}

.MainTab_Opts .fixedDimentions .paneWH{
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}

.MainTab_Opts .fixedDimentions .paneWH > span > span{
  font-weight: bold;
    font-size: 14px;
    color: #809db3;
}

.MainTab_Opts .fixedDimentions .paneWH input{
  width: 55px;
}


.MainTab_Opts .solidBackground .contents > div{
  margin-left: 20px;
  background-color: white;
  border: 2px inset #DBD1AB;
  width: 160px;
  height: 30px;
  position: relative;
}

.MainTab_Opts .solidBackground .MotfEdit_Section_Properties_mElem_ColPick{
  top: 8px;
  left: 45px;
}






.MainTab_Opts .WgBoxie.jsonExport textarea{
  margin: 6px;
  min-width: 430px;
  min-height: 170px;
  background-color: #eee;
  font-size: 10px;
}

.MainTab_Opts .WgBoxie.more .contents{
  font-size: 11px;
  opacity: 0.7;
}