/* MainTab_Patt */

.MainTab_Patt{
    flex: 1 auto;
    display: flex;
    flex-flow: row nowrap;
}



/* 1. Table listing */

.MainTab_Patt > .tableWithButtonsZone .WgTable tbody{
    height: 225px;
}

.MainTab_Patt > .tableWithButtonsZone .WgTable .col-1{
    width: 18px;
}

.MainTab_Patt > .tableWithButtonsZone .WgTable th.col-2{
    width: 120px;
}

.MainTab_Patt > .tableWithButtonsZone .WgTable .col-2{
    padding: 0px;
    padding-right: 1px;
}

.MainTab_Patt > .tableWithButtonsZone .WgTable input.blue-cell{
    width: 95px;
}

.MainTab_Patt .mainButtons{
    text-align: right;
}





/* 2. Other General Layout */

.MainTab_Patt > .middleColumn{
    width: 190px;
    display: flex;
    flex-flow: column nowrap;
}

.MainTab_Patt > .middleColumn > div{
    margin-top: 3px;
}

.MainTab_Patt > .middleColumn > div.includeMotifs{
    margin-top: 6px;
    margin-bottom: 6px;
}

.MainTab_Patt > div.rightSideSpace{
    padding: 4px;
    flex: 1 auto;
    margin-left: 5px;
    margin-right: 3px;
    display: flex;
    flex-flow: column nowrap;
}

.MainTab_Patt .rightSideSpace .mainButtons{
    padding-top: 6px;
}

/* apply padding on the insides of ALL boxies */
.MainTab_Patt .WgBoxie .contents{
    padding: 4px;
}