/* Patt_Section_Linking.css */

.Patt_Section_Linking .contents{
    font-size: 12px;
}


.Patt_Section_Linking .WgTable{
    margin: 2px;
    margin-top: 10px;
    border-width: 2px;
    font-size: 12px;
    text-align: left;
}

.Patt_Section_Linking .WgTable tbody{
    height: 120px;
}

.Patt_Section_Linking .WgTable .col-1 div{
    white-space: nowrap;
    max-width: 75px;
    overflow: hidden;
}

.Patt_Section_Linking .WgTable .col-1{
    width: 80px;
}

.Patt_Section_Linking .WgTable .col-2{
    width: 120px;
}