/* Patt_Section_PatternDrive.css */


.MainTab_Patt .patternDrive{
    flex: 0 auto;
}

.MainTab_Patt .patternDrive .contents{
    padding-top: 0px;
}

.MainTab_Patt .patternDrive .WgDropDown.setGrid{
    margin-left: 2px;
}

.MainTab_Patt .patternDrive .WgDropDown.setPlot{
    margin-left: 6px;
}

.MainTab_Patt .patternDrive .WgDropDown .dropbtn{
    width: 84px;
}






/* the tiny <table> element */
.MainTab_Patt .patternDrive table{
    border-width: 2px;
    margin: 2px;
    margin-top: 5px;
}

.MainTab_Patt .patternDrive table td{
    padding: 1px 5px;
    border-bottom: none;
    font-size: 14px;
    font-weight: bold;
}

.MainTab_Patt .patternDrive table td.col-1{
    width: 25px;
    background-color: #CCC;
    position: relative;
}

.MainTab_Patt .patternDrive table td.col-2{
    width: 200px;
    text-align: left;
}

.MainTab_Patt .patternDrive table img{
    position: absolute;
    width: 21px;
    top: -2px;
    left: 2px
}