/* Patt_Section_IncludeMotifs.css */

.MainTab_Patt .includeMotifs{
    flex: 1 auto;
}

.MainTab_Patt .includeMotifs .contents{
    display: flex;
    flex-flow: row nowrap;
}

.MainTab_Patt .includeMotifs .contents > div{
      flex: 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: right;
}


.MainTab_Patt .includeMotifs .WgTable{
    border-width: 2px;
    font-size: 13px;
    margin: 0;
    margin-left: 3px;
}

.MainTab_Patt .includeMotifs .WgTable tbody{
    height: 147px;
}

/* There is 1 column only */
.MainTab_Patt .includeMotifs .WgTable th{
    width: 95px;
}

.MainTab_Patt .includeMotifs .WgTable td{
    height: 40px;
    padding: 0px;
    text-align: left;
    position: relative;
    width: 92px;
}

.MainTab_Patt .includeMotifs .WgTable span{
    position: absolute;
    left: 46px;
    top: 3px;
    width: 200px;
    font-size: 11px;
}

.MainTab_Patt .includeMotifs .WgTable .WgDustbin{
    position: absolute;
    left: 53px;
    top: 20px;
    height: 22px;
}








.MainTab_Patt .includeMotifs .dropbtn{
  width: 65px;
}

.MainTab_Patt .includeMotifs .WgDropDown{
  margin-bottom: 4px;
}

.MainTab_Patt .includeMotifs .WgDropDown .content{
    left: 65px;
    bottom: 0px;
}

.MainTab_Patt .includeMotifs .button{
  padding: 2px 4px;
}




/*Styling specific to LOAD MOTIF dropdown */

.MainTab_Patt .includeMotifs .WgDropDown.load .content{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 160px;
    width: 160px;
}

.MainTab_Patt .includeMotifs .WgDropDown.load a.Motif_ListItem{
    position: relative;
    height: 45px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding: 2px;
    overflow-y: hidden;
}

.MainTab_Patt .includeMotifs .WgDropDown.load .Motif_ListItem:last-child{
    border: none;
}

.MainTab_Patt .includeMotifs .WgDropDown.load .Motif_ListItem span{
    position: absolute;
    left: 53px;
    text-decoration: underline;
}


#include-motifs .load .dropdown-content a > div {
    display: inline-block;
    vertical-align: text-top;
}

.MainTab_Patt .includeMotifs .WgDropDown.load .comment{
    text-align: center;
    padding: 5px;
    font-style: italic;
    color: rgba(0,0,0,0.5)
}



/* 400ms slide transition */

/* Specific heights for the Height animation to target...
   I have only implemented a leave animation; this is the only one possible
*/
.MainTab_Patt .includeMotifs .WgSlide200-leave{
    max-height: 47px;
}

.MainTab_Patt .includeMotifs .WgSlide200-leave.WgSlide200-leave-active {
    max-height: 0;
    transition: max-height 200ms linear;
}










/*Styling STATIC PROPERTIES dropdown */

.MainTab_Patt .includeMotifs .WgDropDown.properties .content{
    height: 385px;
    width: 220px;
    bottom: -28px;
}

.MainTab_Patt .includeMotifs .WgDropDown.properties .content > div{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.MainTab_Patt .includeMotifs .WgDropDown.properties .title {
    padding: 3px;
    font-size: 14px;
    font-weight: bold;
}

.MainTab_Patt .includeMotifs .chequer{
    border: none;
    background-color: white;
    width: 200px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6);
}

.MainTab_Patt .includeMotifs .WgDropDown.properties .h2{
    align-self: flex-start;
    padding: 4px;
    padding-top: 6px;
}

.MainTab_Patt .includeMotifs .WgDropDown.properties .set-value{
    margin: 3px 0px;
    position: relative;
}

.MainTab_Patt .includeMotifs .WgDropDown.properties .set-value input{
    position: absolute;
    top: -2px;
    left: 50px;
}

.MainTab_Patt .includeMotifs .WgDropDown.properties .WgSlider{
    margin-top: 6px;
    width: 200px;
}
