/* WgButton.css */

.button,
.hoverbutton .hov-btn{
    transition: all 0.2s;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    cursor:pointer;
    color: black;
    background: rgba(0,30,70,0.1);
    border-color: rgba(0,30,70,0.4);
}

.button{
    padding: 3px 14px;
    margin: 0px 5px;
}

.button:hover{
    transition: background 0.2s;
    background: rgba(0,70,180,0.3);
    text-decoration: underline;
    color: #004370;
    border-color: #004370;
}

.button:hover > .text{
    text-decoration: underline;
}

/* this is copied from tabstrip... */
.button.disabled{
    background: rgba(210,210,210,0.4);
    color: rgba(0,30,70,0.4);
    border-color: rgba(0,30,70,0.3);
    text-decoration: none;
    cursor: not-allowed;
    pointer-events: none;
}

.button.s{
    font-size: 75%;
    padding: 2px 9px;
    margin: 0px 1px;
}


.button.selected {
    background-color: rgba(255,255,255,0.4);
    color: rgba(0,70,180,0.6);
    border-color: black;
}


/* button type 2, for dropdown menus*/

button.WgButton2{
    position: relative;
}
button.WgButton2 > div.dot{
    position: absolute;
    left: 2px;
    top: 2px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: beige;
} 




/*

    WgButtonExpanding

*/


.WgButtonExpanding{
    position: relative;
}

.WgButtonExpanding > .popout{
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-left: 1px solid;
    border-color: rgba(0,30,70,0.4);
    transition: height 0.2s, width 0.2s, right 0.2s, background 0.2s;
    height: 100%;
    width: 18px;
}

.WgButtonExpanding:hover > .popout{
        border-color: #004370;
}

.WgButtonExpanding > div.text{
    margin-right: 17px;
}

.WgButtonExpanding img.rightArrow{
    margin: 4px 6px;
    height: 10px;
    opacity: 0.35;
}

.WgButtonExpanding .popout:hover img.rightArrow{
    opacity: 1;
    /* This hack of a filter turns black to dark blue!*/
    filter: invert(1) brightness(0.5) sepia(1) hue-rotate(180deg) saturate(4) brightness(0.45);
}

.WgButtonExpanding .popout.expanded{
    height: 123px;
    width: 160px;
    right: -143px;
    bottom: -1px;
   background: #99A7AE;
    color: #004370;
    border: 1px solid;
    border-color: #004370;
    border-radius: 6px 6px 6px 0px;
    overflow: hidden;
    text-align: left;
}

.MainTab_MotfEdit .button.expandAll > .expanded > div{
    padding: 1px 6px;
}


